
@{
	ViewBag.Title = "Create";
	Layout = null;
}

<style>
	.btn-remove-ozone-image {
		position: absolute;
		right: -10px;
		top: -10px;
	}
</style>

<div class="modal-header">
	<h5 class="modal-title">Ozone Images</h5>
	<button type="button" class="close" data-dismiss="modal" aria-label="Close">
		<i aria-hidden="true" class="ki ki-close"></i>
	</button>
</div>
<div class="modal-body">



	<div id="collapseVenue" class="collapse show" data-parent="#accordionVenue">
		<div class="card-body pl-12 text-center">
			<!--begin::ozone images-->
			<div class="ozone-images mb-5">
				<div class="spinner spinner-dark spinner-center"></div>
			</div>
			<input type="file" name="OzoneImages" value="" multiple style="display:none" />
			<!--end::ozone images-->
			<a href="javascript:;" class="btn btn-light-primary " id="btn-ozone-image-upload">
				<span class="svg-icon svg-icon-lg m-0">
					<!--begin::Svg Icon | path:assets/media/svg/icons/Design/Image.svg-->
					<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
						<g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
							<polygon points="0 0 24 0 24 24 0 24"></polygon>
							<path d="M6,5 L18,5 C19.6568542,5 21,6.34314575 21,8 L21,17 C21,18.6568542 19.6568542,20 18,20 L6,20 C4.34314575,20 3,18.6568542 3,17 L3,8 C3,6.34314575 4.34314575,5 6,5 Z M5,17 L14,17 L9.5,11 L5,17 Z M16,14 C17.6568542,14 19,12.6568542 19,11 C19,9.34314575 17.6568542,8 16,8 C14.3431458,8 13,9.34314575 13,11 C13,12.6568542 14.3431458,14 16,14 Z" fill="#ffffff"></path>
						</g>
					</svg>
					<!--end::Svg Icon-->
				</span>Upload
			</a>
		</div>
	</div>


</div>

<script>
	$(document).ready(function () {
		BindOzoneImages();

	})

	$('#btn-ozone-image-upload').click(function () {
		$('input[name=OzoneImages]').trigger('click');
	});

	$('input[name=OzoneImages]').change(function () {

		var data = new FormData();
		var files = $("input[name=OzoneImages]").get(0).files;
		if (files.length > 0) {

			if ($('.ozone-images .symbol').length + files.length > 4) {
				toastr.error("You can only upload four images");
				return;
			}

			$('#btn-ozone-image-upload').addClass('spinner spinner-light spinner-left').prop('disabled', true);
			$('#btn-ozone-image-upload').find('span').hide();
			$.each(files, function (j, file) {
				data.append('Image[' + j + ']', file);
			})
			//data.append("Image", files);
			data.append("count", $('.ozone-images .symbol').length);

			$.ajax({
				url: "/Admin/OzoneImage/Create/" + @ViewBag.OzoneID,
				type: "POST",
				processData: false,
				contentType: false,
				data: data,
				success: function (response) {
					if (response.success) {
						$(response.data).each(function (k, v) {
							// console.log(v.Value);
							$('.ozone-images').append('<div class="symbol symbol-70 flex-shrink-0 mr-5 mb-3">' +
								'<span class="btn btn-xs btn-icon btn-circle btn-danger btn-hover-text-primary btn-shadow btn-remove-ozone-image" data-action="cancel" data-toggle="tooltip" title="remove" onclick="DeleteOzoneImage(this,' + v.Key + ')">' +
								'<i class="icon-xs ki ki-bold-close ki-bold-trash"></i>' +
								'</span>' +
								'<div class="symbol-label" style="height: 200px; width: 200px; background-image: url(\'' + v.Value + '\')"></div>' +
								'</div>');
						});

						$('#btn-ozone-image-upload').removeClass('spinner spinner-light spinner-left').prop('disabled', false);
						$('#btn-ozone-image-upload').find('span').show();
						toastr.success("Ozone images uploaded ...");
					} else {
						$('#btn-ozone-image-upload').removeClass('spinner spinner-light spinner-left').prop('disabled', false);
						$('#btn-ozone-image-upload').find('span').show();
						toastr.error(response.message);
					}
				},
				error: function (e) {
					$('#btn-ozone-image-upload').removeClass('spinner spinner-light spinner-left').prop('disabled', false);
					$('#btn-ozone-image-upload').find('span').show();
					toastr.error("Ooops, something went wrong.Try to refresh this page or contact Administrator if the problem persists.");
				},
				failure: function (e) {
					$('#btn-ozone-image-upload').removeClass('spinner spinner-light spinner-left').prop('disabled', false);
					$('#btn-ozone-image-upload').find('span').show();
					toastr.error("Ooops, something went wrong.Try to refresh this page or contact Administrator if the problem persists.");
				}
			});
		}
	});


	function BindOzoneImages() {
		$.ajax({
			url: '/Admin/OzoneImage/GetOzoneImagesbyid/' + @ViewBag.OzoneID,
			type: 'GET',
			success: function (response) {
				if (response.success) {
					$('.ozone-images').html('');
					$(response.ozoneImages).each(function (k, v) {
						$('.ozone-images').append('<div class="symbol symbol-70 flex-shrink-0 mr-5 mb-3">' +
							'<span class="btn btn-xs btn-icon btn-circle btn-danger btn-hover-text-primary btn-shadow btn-remove-ozone-image" data-action="cancel" data-toggle="tooltip" title="remove" onclick="DeleteOzoneImage(this,' + v.id + ')">' +
							'<i class="icon-xs ki ki-bold-close ki-bold-trash"></i>' +
							'</span>' +
							'<div class="symbol-label" style="height: 200px; width: 200px; background-image: url(\'' + v.Image + '\')"></div>' +
							'</div>');
					});
				} else {
				}
			}
		});
	}

	function DeleteOzoneImage(elem, record) {
		$(elem).addClass('spinner spinner-light spinner-right').prop('disabled', true);
		$(elem).find('i').hide();
		$.ajax({
			url: '/Admin/OzoneImage/Delete/' + record,
			type: 'POST',
			data: {
				"__RequestVerificationToken":
					$("input[name=__RequestVerificationToken]").val()
			},
			success: function (response) {
				if (response.success) {
					$(elem).closest('.symbol').remove();
					toastr.success(response.message);
				}
				else {
					return false;
					$(elem).removeClass('spinner spinner-light spinner-right').prop('disabled', false);
					$(elem).find('i').show();
					toastr.error(response.message);

				}
			},
			error: function (e) {
				$(elem).removeClass('spinner spinner-light spinner-right').prop('disabled', false);
				$(elem).find('i').show();
				toastr.error("Ooops, something went wrong.Try to refresh this page or contact Administrator if the problem persists.");
			},
			failure: function (e) {
				$(elem).removeClass('spinner spinner-light spinner-right').prop('disabled', false);
				$(elem).find('i').show();
				toastr.error("Ooops, something went wrong.Try to refresh this page or contact Administrator if the problem persists.");
			}
		});
	}


</script>



