@{
    ViewBag.Title = "Construction Updates";
    var culture = System.Threading.Thread.CurrentThread.CurrentUICulture.Name.ToLowerInvariant();
   bool RTL = false;
}
<!--Give Styling Here-->
@section IndexStyles {

}
<!--Body Content-->
<div class="render-body" style="">
    <!-- masonry Section Start -->
    <section class="max-w-screen-2xl 2xl:mx-auto bg-gk-body py-10" id="projects_section">
        <div>
            <h1 class="uppercase font-Rubik text-xl font-medium text-center pb-4 xl:pb-8">Construction Updates</h1>
        </div>
        <div class="relative">
            <img src="/assets/images/bg/dots.png" alt="" class="absolute left-0 top-[2.7rem] hidden md:block">
        </div>
        <div class="flex flex-wrap justify-center w-[80%] mx-auto xl:w-[70%] main-div" style="">
            <section class="text-center py-2 w-full" style=""><i class="fa fa-2x fa-circle-o-notch fa-spin"></i></section>

            @*<a href="" class="mb-4 w-full sm:w-[48.5%] lg:w-[18.5%]">
                    <img src="/assets/images/bg/project-01.png" alt="" class="rounded-lg mb-2 w-full h-[16rem] object-cover">
                    <p class="font-Rubik text-xs uppercase">Project No. 1</p>
                </a>
                <a href="" class="mb-4 w-full sm:w-[48.5%] lg:w-[18.5%]">
                    <img src="/assets/images/bg/project-02.png" alt="" class="rounded-lg mb-2 w-full h-[16rem] object-cover">
                    <p class="font-Rubik text-xs uppercase">Project No. 2</p>
                </a>
                <a href="" class="mb-4 w-full sm:w-[48.5%] lg:w-[18.5%]">
                    <img src="/assets/images/bg/project-03.png" alt="" class="rounded-lg mb-2 w-full h-[16rem] object-cover">
                    <p class="font-Rubik text-xs uppercase">Project No. 3</p>
                </a>
                <a href="" class="mb-4 w-full sm:w-[48.5%] lg:w-[18.5%]">
                    <img src="/assets/images/bg/project-04.png" alt="" class="rounded-lg mb-2 w-full h-[16rem] object-cover">
                    <p class="font-Rubik text-xs uppercase">Project No. 4</p>
                </a>
                <a href="" class="mb-4 w-full sm:w-[48.5%] lg:w-[18.5%]">
                    <img src="/assets/images/bg/project-04.png" alt="" class="rounded-lg mb-2 w-full h-[16rem] object-cover">
                    <p class="font-Rubik text-xs uppercase">Project No. 5</p>
                </a>*@
        </div>

        <div class="flex justify-center items-center animate-pulse py-10">
            <a href="javascript:void(0);" class="bg-gk-gold uppercase font-Rubik text-xs text-center font-medium py-2 mb-12 px-4 hover:bg-gk-gold hover:text-white cursor-pointer transition delay-150 duration-300 ease-in-out hover:delay-0 rounded see-more" style="display:none;">SEE_MORE</a>
			<a href="javascript:void(0);" class="bg-gk-gold ease-in-out font-Rubik font-medium px-4 py-2 mb-12 text-center text-xs uppercase rounded no-more" style="display:none;"><i class="fa fa-exclamation-circle mr-1"></i> COMING_SOON</a>
        </div>

    </section>
    <!-- masonry Section End -->
</div>
<!--Body Content End-->
<!--Write js Here-->
@section IndexScript {
    <script src="@Url.ContentVersioned("~/Assets/js/web/projects/construction.js")"></script>
}
