@model MyProject.Data.UnitEnquiry
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<body>
    <div class="modal-header">
        <h5 class="modal-title">Reply</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <i aria-hidden="true" class="ki ki-close"></i>
        </button>
    </div>
    @using (Html.BeginForm("Reply", "UnitEnquiries", new { area = "Admin" }, FormMethod.Post, new { id = "frm-edit", @class = "form" }))
	{
        @Html.AntiForgeryToken()
<div class="col-md-12" style="margin-top:20px">
    @Html.HiddenFor(model => model.ID)
    @Html.HiddenFor(model => model.Status)
    <div class="test">
        @Html.Raw(Model.Reply)
    </div>
    <textarea type="text" class="form-control" required name="Reply"></textarea>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-custom" form="frm-edit">Submit</button>
    </div>
</div>
    }
</body>
</html>
<script>
	$(document).ready(function () {
		//
		$("#Status").val(true);
	});
</script>

