@{
    Layout = null;
    ViewBag.Title = "Change Password";
}
<!--Give Styling Here-->
@section IndexStyles {

}
<!-- #region Content-->
<!-- Change Password Section -->
<div class="ltn__myaccount-tab-content-inner">
    <div class="account-login-inner">
        <form class="ltn__form-box" id="form_change_password">
            @*contact-form-box*@
            @Html.AntiForgeryToken()

            <h5 class="mb-30">Change Password</h5>

            <div class="form-group">
                <label for="Password" hidden>Current Password</label>
                <small class="form-text-validation py-1 font-normal text-danger"></small>
                <div class="d-flex">
                    <input class="form-field current-password s-p" data-strict="1" type="password" name="CurrentPassword" placeholder="Current Password">
                    <span class="input-group-text cursor-pointer border-0 see-password" style="border-radius: 0px 0px 0px 0px; height: 65px;">
                        <i class="fa fa-eye"></i>
                    </span>
                </div>
            </div>

            <div class="form-group">
                <label for="Password" hidden>New Password</label>
                <small class="form-text-validation py-1 font-normal text-danger"></small>
                <div class="d-flex">
                    <input class="form-field password s-p" data-strict="1" type="password" name="NewPassword" placeholder="New Password">
                    <span class="input-group-text cursor-pointer border-0 see-password" style="border-radius: 0px 0px 0px 0px; height: 65px;">
                        <i class="fa fa-eye"></i>
                    </span>
                </div>
            </div>

            <div class="form-group">
                <label for="Password" hidden>Confirm Password</label>
                <small class="form-text-validation py-1 font-normal text-danger"></small>
                <div class="d-flex">
                    <input class="form-field confirm-password s-p" data-strict="1" type="password" name="ConfirmPassword" placeholder="Confirm Password">
                    <span class="input-group-text cursor-pointer border-0 see-password" style="border-radius: 0px 0px 0px 0px; height: 65px;">
                        <i class="fa fa-eye"></i>
                    </span>
                </div>
            </div>

            <div class="btn-wrapper mt-0">
                <button class="theme-btn-1 btn btn-block" type="button" form="form_change_password">Save Changes</button>
            </div>
        </form>
    </div>
</div>
<!-- Change Password Section End -->
<!-- #endregion Content -->
<!--Write js Here-->
<script src="@Url.ContentVersioned("~/Assets/Admin/js/customer/account/change-password.js")"></script>
