@{
    Layout = "~/Views/Shared/_Layout_Web_View.cshtml";
    ViewBag.Title = ""+ "";
    var culture = System.Threading.Thread.CurrentThread.CurrentUICulture.Name.ToLowerInvariant();
   bool RTL = false;
}
<!--Body Content-->
<div class="render-body" style="">
	<!-- disclaimer Section Start -->
	<section class="bg-gk-white max-w-screen-2xl 2xl:mx-auto pb-6">
		<div class="w-[90%] mx-auto xl:w-[90%]">
			<h1 class="uppercase font-Rubik text-xl font-medium pt-4 lg:pt-14">DISCLAIMER</h1>
		</div>
		<div class="w-[90%] mx-auto pb-6 xl:w-[90%]">
			<p class="font-Rubik text-xs text-justify">
				KAVAAN_DOES_NOT_PROMISE_THAT_THE_SITE_
			</p>

			<p class="font-Rubik text-xs text-justify mt-4">
				KAVAAN_RESERVES_THE_RIGHT_TO_DO_ANY_
			</p>

			<p class="font-Rubik text-xs text-justify mt-4">
				THE_ABOVE_DISCLAIMER_APPLIES_TO_ANY_
			</p>
		</div>
		<div class="w-[90%] mx-auto xl:w-[90%]">
			<h1 class="uppercase font-Rubik text-xl font-medium">INDEMNITY</h1>
		</div>
		<div class="w-[90%] mx-auto pb-6 xl:w-[90%]">
			<p class="font-Rubik text-xs text-justify">
				YOU_AGREE_TO_INDEMNIFY_AND_HOLD_
			</p>

		</div>
		<div class="w-[90%] mx-auto xl:w-[90%]">
			<h1 class="uppercase font-Rubik text-xl font-medium">VIOLATION_OF_THESE_TERMS_OF_USE</h1>
		</div>
		<div class="w-[90%] mx-auto pb-6 xl:w-[90%]">
			<p class="font-Rubik text-xs text-justify">
				KAVAAN_MAY_DISCLOSE_ANY_INFORMATION_
			</p>
			<p class="font-Rubik text-xs text-justify mt-4">
				YOU_ACKNOWLEDGE_AND_AGREE_THAT_
			</p>
			<p class="font-Rubik text-xs text-justify mt-4">
				YOU_AGREE_THAT_KAVAAN_MAY_IN_ITS_SOLE_
			</p>
			<p class="font-Rubik text-xs text-justify mt-4">
				IF_KAVAAN_DOES_TAKE_ANY_LEGAL_ACTION_
			</p>
		</div>
	</section>
	<!-- disclaimer Section End -->
</div>
<!--Body Content End-->
