@{
	Layout = "~/Views/Shared/_Layout_Web_View.cshtml";
	ViewBag.Title = "";//TERMS_AND_CONDITIONS;
	var culture = System.Threading.Thread.CurrentThread.CurrentUICulture.Name.ToLowerInvariant();
	bool RTL = CultureHelper.IsRighToLeft();
}
<!--Give Styling Here-->
@section IndexStyles {
}
<!--Body Content-->

<div class="render-body" style="">
	<!-- terms and condition Section Start -->
	@if (!RTL)
	{
	<section class="bg-gk-white max-w-screen-2xl 2xl:mx-auto pb-10">
		<div class="w-[90%] mx-auto xl:w-[90%]">
			<h1 class="uppercase font-Rubik text-xl font-medium pt-4 lg:pt-14">Website Privacy and Cookies Policy</h1>
			<h1 class="uppercase font-Rubik text-xl font-medium pt-2 lg:pt-2">Contradicting </h1>
		</div>
		<div class="w-[90%] mx-auto pb-0 xl:w-[90%]">
			<p class="font-Rubik text-xs text-justify mt-1">
				References to "our", "us" or "we" within this policy is to KAVAAN Real Estate Development LLC.
			</p>
			<p class="font-Rubik text-xs text-justify mt-1">
				This policy governs the collection and use of personal information by us. For more information about us
				please see: www.KAVAAN.com
			</p>
			<p class="font-Rubik text-xs text-justify mt-1">
				We are committed to protecting and respecting your privacy. This policy explains the types of personal
				information we collect, how we use that personal information, who we share it with, how we protect that
				information, and your legal rights in relation to your personal information. We are committed to abiding
				by this policy, as well as the requirements of applicable laws, in the operation of our business.
			</p>
			<p class="font-Rubik text-xs text-justify mt-1">
				Please read the following carefully as it explains our views and practices regarding your personal
				information, and how it is handled. By accessing or browsing our website, you confirm that you have
				read, understood and agree to this policy in its entirety. If you do not agree with the practices
				described in this policy, you should not use our website.
			</p>
		</div>
		<div class="w-[90%] mx-auto xl:w-[90%]">
			<h1 class="uppercase font-Rubik text-xl font-medium pt-4 lg:pt-4">Who we are</h1>
		</div>
		<div class="w-[90%] mx-auto pb-0 xl:w-[90%]">
			<p class="font-Rubik text-xs text-justify mt-1">
				For the purpose of applicable data protection laws, the data controller is KAVAAN Head Quarters, Near
				Bentley Showroom, Umm Al Sheif, Sheikh Zayed Road, P.O. Box 112466, Dubai, United Arab Emirates.
			</p>
		</div>
		<div class="w-[90%] mx-auto xl:w-[90%]">
			<h1 class="uppercase font-Rubik text-xl font-medium pt-4 lg:pt-4">Information covered by this Policy</h1>
		</div>
		<div class="w-[90%] mx-auto pb-0 xl:w-[90%]">
			<p class="font-Rubik text-xs text-justify mt-1">
				This policy covers all personal information collected and used by us. In this policy, "personal data" or
				"personal information" means information that (either in isolation or in combination with other
				information held by us) enables you to be identified as an individual or recognised directly or
				indirectly. This may include your name, date of birth, nationality, gender, postal address, email
				address, phone number, and technical information from the devices you use to access our website.This
				policy covers all personal information collected and used by us. In this policy, "personal data" or
				"personal information" means information that (either in isolation or in combination with other
				information held by us) enables you to be identified as an individual or recognised directly or
				indirectly. This may include your name, date of birth, nationality, gender, postal address, email
				address, phone number, and technical information from the devices you use to access our website.
			</p>
		</div>
		<div class="w-[90%] mx-auto xl:w-[90%]">
			<h1 class="uppercase font-Rubik text-xl font-medium pt-4 lg:pt-4">
				What information do we collect from you?
			</h1>
		</div>
		<div class="w-[90%] mx-auto pb-0 xl:w-[90%]">
			<p class="font-Rubik text-xs text-justify mt-1">
				We may collect information about you from different sources as detailed below.
			</p>
		</div>
		<div class="w-[90%] mx-auto xl:w-[90%]">
			<h1 class="uppercase font-Rubik text-xl font-medium pt-4 lg:pt-4">Information you give us</h1>
		</div>
		<div class="w-[90%] mx-auto pb-0 xl:w-[90%]">
			<p class="font-Rubik text-xs text-justify mt-1">
				You may give us information about yourself when you respond to a communication from us or by filling in
				forms (both online and offline), over the telephone and through written correspondence with us.
			</p>
			<p class="font-Rubik text-xs text-justify mt-1">
				The information you give us may include your name, postal address, email address, date of birth,
				landline and/or mobile telephone number, as well as other personal information.
			</p>
		</div>
		<div class="w-[90%] mx-auto xl:w-[90%]">
			<h1 class="uppercase font-Rubik text-xl font-medium pt-4 lg:pt-4">Information we collect about you</h1>
		</div>
		<div class="w-[90%] mx-auto pb-0 xl:w-[90%]">
			<p class="font-Rubik text-xs text-justify mt-1">
				When you visit our website, we may use cookies and other technologies to automatically collect the
				following information:
			</p>
			<ol class="font-Rubik text-xs text-justify list-disc pl-4">
				<li>
					technical information, including the Internet Protocol (IP) address used to connect your computer to
					the internet, your login information, browser type and version, device identifier, location and time
					zone setting, browser plug-in types and versions, operating system and platform, page response
					times, and download errors;
				</li>
				<li>
					information about your visit, including the full Uniform Resource Locators (URL) clickstreams to, on
					and from our websites;
				</li>
				<li>
					length of visits to certain pages, page interaction information (such as scrolling, clicks, and
					mouseovers) and methods used to browse away from the page.
				</li>
			</ol>
		</div>
		<div class="w-[90%] mx-auto xl:w-[90%]">
			<h1 class="uppercase font-Rubik text-xl font-medium pt-4 lg:pt-4">
				Information we receive and collect from
				other sources temperament
			</h1>
		</div>
		<div class="w-[90%] mx-auto pb-0 xl:w-[90%]">
			<p class="font-Rubik text-xs text-justify mt-1">
				We may receive information about you from other websites operated by us or from the other services that
				we provide. We may also collect information about you from publicly available sources, including
				publicly available content on social media.
			</p>
		</div>
		<div class="w-[90%] mx-auto xl:w-[90%]">
			<h1 class="uppercase font-Rubik text-xl font-medium pt-4 lg:pt-4">Cookies</h1>
		</div>
		<div class="w-[90%] mx-auto pb-0 xl:w-[90%]">
			<p class="font-Rubik text-xs text-justify mt-1">
				Our website uses cookies and similar technology. A cookie is a small file of letters and numbers that
				our website places on your computer, or other equipment which you use to access our website. These
				cookies allow us to distinguish you from other users of our website.
			</p>
			<p class="font-Rubik text-xs text-justify mt-1">
				You can read more about cookies and how to recognise them at www.aboutcookies.org
			</p>
			<p class="font-Rubik text-xs text-justify mt-1">
				Cookies perform many functions, such as allowing you to navigate between pages efficiently, remembering
				your preferences, and generally improving the user experience. They can also help to ensure that
				advertising that you see online is more relevant to you and your interests.
			</p>
			<p class="font-Rubik text-xs text-justify mt-1">
				Your use of our website indicates your consent to the cookies described in this policy. Please see "How
				you can control cookies" below for more information on how to withdraw your consent at any time.
			</p>
			<table class="font-Rubik text-xs mt-2 table-auto text-left">
				<thead>
					<tr>
						<th class="font-bold border border-gray-400 p-2">Type of cookie</th>
						<th class="font-bold border border-gray-400 p-2">What does it do?</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td class="border border-gray-400 p-2">Strictly necessary cookies</td>
						<td class="border border-gray-400 p-2">
							These cookies are essential in order to enable you to
							move around the website and use its features, such as accessing secure areas of the website.
							Without these cookies services you have asked for, like room bookings or e-payment, cannot
							be provided.
						</td>
					</tr>
					<tr>
						<td class="border border-gray-400 p-2">Performance cookies</td>
						<td class="border border-gray-400 p-2">
							These cookies collect information about how you use our
							website, for instance which pages you go to most often, and if you receive error messages
							from certain web pages. These cookies do not collect information that identifies you. All
							information these cookies collect is aggregated and therefore anonymous. It is only used to
							improve how the website works. By using our website, you agree that we can place these types
							of cookies on your device.
						</td>
					</tr>
					<tr>
						<td class="border border-gray-400 p-2">Functionality cookies</td>
						<td class="border border-gray-400 p-2">
							These cookies allow the website to remember choices you
							make (such as your language of choice or the region you are in) and provide enhanced, more
							personal features. These cookies can also be used to remember changes you have made to text
							size, fonts and other parts of the web pages that you can customise. The information these
							cookies collect may be anonymised and they cannot track your browsing activity on websites
							operated by third parties. By using our website, you agree that we can place these types of
							cookies on your device.
						</td>
					</tr>
					<tr>
						<td class="border border-gray-400 p-2">Targeting or advertising cookies</td>
						<td class="border border-gray-400 p-2">
							These cookies are used to deliver adverts more relevant
							to you and your interests. They are also used to limit the number of times you see an
							advertisement as well as help measure the effectiveness of our advertising campaigns. They
							also remember when you have visited the website before. Sometimes we share anonymised
							information about your browsing activity with our advertising and creative partners. They
							may use this information to advertise products, which may interest you, on other websites or
							to assist us develop future advertising campaigns.
						</td>
					</tr>
				</tbody>
			</table>
			<p class="font-Rubik text-xs text-justify mt-1">
				Please note that third parties (including, for example, advertising networks and providers of external
				services like web traffic analysis services) may also use cookies, over which we have no control. These
				cookies are likely to be analytical/performance cookies or targeting cookies.
			</p>
		</div>
		<div class="w-[90%] mx-auto xl:w-[90%]">
			<h1 class="uppercase font-Rubik text-xl font-medium pt-4 lg:pt-4">How you can control cookies</h1>
		</div>
		<div class="w-[90%] mx-auto pb-0 xl:w-[90%]">
			<p class="font-Rubik text-xs text-justify mt-1">
				Your web browser includes an option that allows you to refuse the setting of all or some cookies.
				However, if you do so, you may not be able to access parts of our website and it may make your browsing
				experience less enjoyable. Unless you have adjusted your browser setting so that it will refuse cookies,
				our system will issue cookies as described above when you access our website. If you would like to
				delete any cookies on your computer please refer to your browser manufacturer's instructions by clicking
				'help' in your browser menu.
			</p>
		</div>
		<div class="w-[90%] mx-auto xl:w-[90%]">
			<h1 class="uppercase font-Rubik text-xl font-medium pt-4 lg:pt-4">
				How do we use your personal information?
			</h1>
		</div>
		<div class="w-[90%] mx-auto pb-0 xl:w-[90%]">
			<table class="font-Rubik text-xs mt-2 table-auto text-left">
				<thead>
					<tr>
						<th class="font-bold border border-gray-400 p-2">We may use your personal information to:</th>
						<th class="font-bold border border-gray-400 p-2">
							How do we use personal information for this
							purpose?
						</th>
						<th class="font-bold border border-gray-400 p-2">
							What is the legal basis for us processing your
							information in this way?
						</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td class="border border-gray-400 p-2">
							Comply with legal requirements and exercise or defend
							legal claims.
						</td>
						<td class="border border-gray-400 p-2">
							We may sometimes need to process personal information to
							comply with legal requirements to which we are subject.
						</td>
						<td class="border border-gray-400 p-2">
							It is in our legitimate interests to process personal
							information for the purposes of exercising and defending legal claims. Processing personal
							information may also be necessary to ensure compliance with our legal obligations.
						</td>
					</tr>
					<tr>
						<td class="border border-gray-400 p-2">
							Process your personal information where this is necessary
							to keep our website safe and secure.
						</td>
						<td class="border border-gray-400 p-2">
							We may need to process your personal information in order
							to keep our website safe and secure and protect against illegal or fraudulent activity such
							as cyber-attacks.
						</td>
						<td class="border border-gray-400 p-2">
							It is in our legitimate interests to monitor how our
							website is used to detect and prevent fraud, other crimes and the misuse of our website.
							This helps us to ensure that you can safely use our website.
						</td>
					</tr>
					<tr>
						<td class="border border-gray-400 p-2">
							Keep an up to date suppression list where you have asked
							not to be contacted, so we do not inadvertently re-contact you.
						</td>
						<td class="border border-gray-400 p-2">
							We understand that you may prefer for us not to contact
							you. We keep records of your preferences to ensure that we do not contact you if you have
							asked us not to. We may need to process certain of your personal information (such as your
							name and email address) in order to do this.
						</td>
						<td class="border border-gray-400 p-2">
							It is in our legitimate interests to process personal
							information in order to maintain an up to date suppression list and ensure that we do not
							contact you where you have asked us not to.
						</td>
					</tr>
				</tbody>
			</table>
		</div>
		<div class="w-[90%] mx-auto xl:w-[90%]">
			<h1 class="uppercase font-Rubik text-xl font-medium pt-4 lg:pt-4">
				Where we store your personal information
			</h1>
		</div>
		<div class="w-[90%] mx-auto pb-0 xl:w-[90%]">
			<p class="font-Rubik text-xs text-justify mt-1">
				The personal information that we collect from you will be stored in Dubai, although it could be
				transferred to any Company within the KAVAAN Group, regardless of geographic location, in the process of
				our business operations. We will take all steps that are reasonably necessary to ensure that your
				personal information is treated securely and in accordance with this policy and applicable data
				protection laws.
			</p>
		</div>
		<div class="w-[90%] mx-auto xl:w-[90%]">
			<h1 class="uppercase font-Rubik text-xl font-medium pt-4 lg:pt-4">Security of personal information</h1>
		</div>
		<div class="w-[90%] mx-auto pb-0 xl:w-[90%]">
			<p class="font-Rubik text-xs text-justify mt-1">
				All information you provide to us via our website is stored on our secure servers.
			</p>
			<p class="font-Rubik text-xs text-justify mt-1">
				We have taken steps to safeguard the integrity of our communications and computing infrastructure, which
				includes implementing authentication, monitoring, auditing, and encryption technology. Security measures
				have been integrated into the design, implementation, and day-to-day operations of this website as part
				of our continuing commitment to the security of electronic content and the electronic transmission of
				information. Despite our best efforts unfortunately the transmission of information via the internet is
				not completely secure. Although we have strict procedures and security measures in place, we cannot
				guarantee the security of your data transmitted to our site.
			</p>
		</div>
		<div class="w-[90%] mx-auto xl:w-[90%]">
			<h1 class="uppercase font-Rubik text-xl font-medium pt-4 lg:pt-4">Third party websites and apps</h1>
		</div>
		<div class="w-[90%] mx-auto pb-0 xl:w-[90%]">
			<p class="font-Rubik text-xs text-justify mt-1">
				Our websites may contain links to and from third party websites. Please note that if you follow a link
				to any of these websites, these websites will have their own terms of use and privacy policies and that
				we do not accept any responsibility of liability for these policies. Please check these policies before
				you submit any personal data to these websites.
			</p>
		</div>
		<div class="w-[90%] mx-auto xl:w-[90%]">
			<h1 class="uppercase font-Rubik text-xl font-medium pt-4 lg:pt-4">Your rights</h1>
		</div>
		<div class="w-[90%] mx-auto pb-0 xl:w-[90%]">
			<p class="font-Rubik text-xs text-justify mt-1">
				You have the following rights with respect to the personal information that we hold about you.
			</p>
		</div>
		<div class="w-[90%] mx-auto xl:w-[90%]">
			<h1 class="uppercase font-Rubik text-xl font-medium pt-4 lg:pt-4">
				Your right to access the information we
				hold about you
			</h1>
		</div>
		<div class="w-[90%] mx-auto pb-0 xl:w-[90%]">
			<p class="font-Rubik text-xs text-justify mt-1">
				You can request access to the information we hold about you by contacting us using the contact details
				set out below. Our file of your information will usually be made available to you within 30 days,
				although occasionally we may not be able to give you access to the personal information we hold about
				you (for example, we may not be able to give you access if it would unreasonably affect someone else's
				privacy or if giving you access poses a serious threat to someone's life, health or safety). Please note
				that we may apply an administrative charge for providing access to your information in certain
				circumstances. Any such charge will be reasonable and we will advise you of the charge and obtain your
				consent before providing you with access to your personal information. Please note that if you request a
				copy of your data using electronic means (such as email), then we will provide a copy of your
				information in electronic form unless you ask us to do otherwise.
			</p>
		</div>
		<div class="w-[90%] mx-auto xl:w-[90%]">
			<h1 class="uppercase font-Rubik text-xl font-medium pt-4 lg:pt-4">
				Your right to object to us processing your
				personal information
			</h1>
		</div>
		<div class="w-[90%] mx-auto pb-0 xl:w-[90%]">
			<p class="font-Rubik text-xs text-justify mt-1">
				You have the right to object to us processing your personal information, even where that processing is
				necessary for our legitimate interests (for example, where the processing is necessary for the
				legitimate commercial objectives we pursue in the course of our business). You also have the right to
				object to any results of a processing activity that prejudice your rights and that are conducted
				exclusively through automated systems.
			</p>
			<p class="font-Rubik text-xs text-justify mt-1">
				You also have the right to ask us to stop processing your personal information for direct marketing
				purposes, including any profiling we undertake for the purposes of direct marketing. We will in any case
				only send you marketing communications if you have previously agreed to this, but if you change your
				mind you can easily unsubscribe from our marketing communications at any time by following the
				instructions included in these marketing communications.
			</p>
			<p class="font-Rubik text-xs text-justify mt-1">
				Please note that, if you have consented to receive offers from our partners, our partners are
				responsible for taking account of your rights, including your right to opt-out of receiving offers from
				them.
			</p>
		</div>
		<div class="w-[90%] mx-auto xl:w-[90%]">
			<h1 class="uppercase font-Rubik text-xl font-medium pt-4 lg:pt-4">
				Your right to have your personal
				information transmitted to another organisation
			</h1>
		</div>
		<div class="w-[90%] mx-auto pb-0 xl:w-[90%]">
			<p class="font-Rubik text-xs text-justify mt-1">
				Where we hold personal information about you with your consent or for the performance of a contract with
				you, you also have the right to ask us to provide you with the personal information we hold about you in
				a structured, commonly used and machine-readable format and, where technically feasible, to transmit
				that personal information to another organisation.
			</p>
		</div>
		<div class="w-[90%] mx-auto xl:w-[90%]">
			<h1 class="uppercase font-Rubik text-xl font-medium pt-4 lg:pt-4">Making a complaint</h1>
		</div>
		<div class="w-[90%] mx-auto pb-0 xl:w-[90%]">
			<p class="font-Rubik text-xs text-justify mt-1">
				You have the right to lodge a complaint with a local data protection authority in the EEA if you believe
				that we have not complied with applicable data protection laws.
			</p>
			<p class="font-Rubik text-xs text-justify mt-1">
				The local data protection authority will differ depending on the country you are in.
			</p>
		</div>
		<div class="w-[90%] mx-auto xl:w-[90%]">
			<h1 class="uppercase font-Rubik text-xl font-medium pt-4 lg:pt-4">Contacting us</h1>
		</div>
		<div class="w-[90%] mx-auto pb-0 xl:w-[90%]">
			<p class="font-Rubik text-xs text-justify mt-1">
				If you have any questions or concerns about how we treat your personal information, you wish to ask us
				to stop processing your personal information, or you would like to request a copy of the personal
				information we hold about you, please contact us here or by writing to us at:
			</p>
			<p class="font-Rubik text-xs text-justify mt-1">
				KAVAAN Real Estate Development
			</p>
			<p class="font-Rubik text-xs text-justify mt-1">
				Near Bentley Showroom, Umm Al Sheif,
			</p>
			<p class="font-Rubik text-xs text-justify mt-1">
				Sheikh Zayed Road
			</p>
			<p class="font-Rubik text-xs text-justify mt-1">
				PO Box: 112466
			</p>
			<p class="font-Rubik text-xs text-justify mt-1">
				Dubai
			</p>
			<p class="font-Rubik text-xs text-justify mt-1">
				United Arab Emirates
			</p>
			<p class="font-Rubik text-xs text-justify mt-1">
				Please include your reply address when you write to us.
			</p>
		</div>
		<div class="w-[90%] mx-auto xl:w-[90%]">
			<h1 class="uppercase font-Rubik text-xl font-medium pt-4 lg:pt-4">
				How long do we keep your personal
				information?
			</h1>
		</div>
		<div class="w-[90%] mx-auto pb-0 xl:w-[90%]">
			<p class="font-Rubik text-xs text-justify mt-1">
				Your personal information is stored by us and/or our Service Providers, strictly to the extent necessary
				for the performance of our obligations and strictly for the time necessary to achieve the purposes for
				which the information is collected, in accordance with applicable data protection laws. When we no
				longer need to use your information, we will remove it from our systems and records and/or take steps to
				properly anonymise it so that you can no longer be identified from it (unless we need to keep your
				information to comply with legal or regulatory obligations to which we are subject).
			</p>
		</div>
		<div class="w-[90%] mx-auto xl:w-[90%]">
			<h1 class="uppercase font-Rubik text-xl font-medium pt-4 lg:pt-4">Changes to this Policy</h1>
		</div>
		<div class="w-[90%] mx-auto pb-0 xl:w-[90%]">
			<p class="font-Rubik text-xs text-justify mt-1">
				We may update this policy from time to time in response to changing legal, regulatory or operational
				requirements. Any changes will be updated on our website. Your continued use of our website and/or
				services after any such updates take effect will constitute acceptance of those changes
			</p>
		</div>
	</section>
	}
	else
	{
<section class="bg-gk-white max-w-screen-2xl 2xl:mx-auto pb-10">
	<div class="w-[90%] mx-auto xl:w-[90%]">
		<h1 class="uppercase font-Rubik text-xl font-medium pt-4 lg:pt-14">سياسة الخصوصية وملفات تعريف الارتباط الخاصة بالموقع</h1>
		<h1 class="uppercase font-Rubik text-xl font-medium pt-2 lg:pt-2">المتناقضات </h1>
	</div>
	<div class="w-[90%] mx-auto pb-0 xl:w-[90%]">
		<p class="font-Rubik text-xs text-justify mt-1">
			الإشارات إلى "خاصتنا" أو "لنا" أو "نحن" في هذه السياسة ملك لشركة أورو٢٤ للتطوير العقاري.
			تحكم هذه السياسة عملية جمع واستخدام المعلومات الشخصية من قبلنا. لمزيد من المعلومات عنا، يرجى زيارة الموقع الالكتروني: www.KAVAAN.com
		</p>
		<p class="font-Rubik text-xs text-justify mt-1">
			نتعهد نحن بحفظ واحترام خصوصيتك. تشرح هذه السياسة أنواع المعلومات الشخصية التي نجمعها، وكيف يتم استخدام تلك المعلومات الشخصية، ومع من نشاركها، وكيف نحمي تلك المعلومات، وحقوقك القانونية فيما يتعلق بمعلوماتك الشخصية. نحن نتعهد بالالتزام بهذه السياسة، وكذلك متطلبات القوانين المعمول بها، في ادارة أعمالنا.
		</p>
		<p class="font-Rubik text-xs text-justify mt-1">
			يرجى قراءة ما يلي بعناية لأنه يشرح وجهة نظرنا وممارساتنا فيما يتعلق بمعلوماتك الشخصية وكيفية التعامل معها. من خلال الوصول إلى موقعنا الإلكتروني أو تصفحه، فإنك تؤكد أنك قد قرأت وفهمت ووافقت على هذه السياسة في مجملها. إذا كنت لا توافق على الممارسات الموضحة في هذه السياسة، فلا يجب عليك استخدام موقعنا.
		</p>
	</div>
	<div class="w-[90%] mx-auto xl:w-[90%]">
		<h1 class="uppercase font-Rubik text-xl font-medium pt-4 lg:pt-4">من نحن</h1>
	</div>
	<div class="w-[90%] mx-auto pb-0 xl:w-[90%]">
		<p class="font-Rubik text-xs text-justify mt-1">
			لأغراض و قوانين حماية البيانات المعمول بها بالدولة، فإن مراقبة البيانات تتم في المقر الرئيسي لشركة اورو٢٤ للتطوير العقاري، الواقعة بالقرب من معرض بنتلي، أم الشيف ، شارع الشيخ زايد ، ص. 112466 ، دبي ، الإمارات العربية المتحدة.
		</p>
	</div>
	<div class="w-[90%] mx-auto xl:w-[90%]">
		<h1 class="uppercase font-Rubik text-xl font-medium pt-4 lg:pt-4">المعلومات التي تغطيها هذه السياسة</h1>
	</div>
	<div class="w-[90%] mx-auto pb-0 xl:w-[90%]">
		<p class="font-Rubik text-xs text-justify mt-1">
			تغطي هذه السياسة جميع المعلومات الشخصية التي نجمعها ونستخدمها.
			في هذه السياسة، تعني "البيانات الشخصية" أو "المعلومات الشخصية" المعلومات التي تمكّنك (إما بشكل منفصل أو بالاشتراك مع كل المعلومات الأخرى التي نحتفظ بها) من التعرف عليك كفرد أو التعرف عليك بشكل مباشر أو غير مباشر. قد يشمل ذلك اسمك وتاريخ الميلاد والجنسية والجنس والعنوان البريدي وعنوان البريد الإلكتروني ورقم الهاتف والمعلومات الفنية من الأجهزة التي تستخدمها للوصول إلى موقعنا.
		</p>
	</div>
	<div class="w-[90%] mx-auto xl:w-[90%]">
		<h1 class="uppercase font-Rubik text-xl font-medium pt-4 lg:pt-4">
			ما هي المعلومات التي نجمعها منك؟
		</h1>
	</div>
	<div class="w-[90%] mx-auto pb-0 xl:w-[90%]">
		<p class="font-Rubik text-xs text-justify mt-1">
			قد نقوم بجمع معلومات عنك من مصادر مختلفة كما هو مفصل أدناه.
		</p>
	</div>
	<div class="w-[90%] mx-auto xl:w-[90%]">
		<h1 class="uppercase font-Rubik text-xl font-medium pt-4 lg:pt-4">المعلومات التي تقدمها لنا</h1>
	</div>
	<div class="w-[90%] mx-auto pb-0 xl:w-[90%]">
		<p class="font-Rubik text-xs text-justify mt-1">
			يمكنك تزويدنا بمعلومات عن نفسك عندما ترد على اتصال منا أو عن طريق ملء النماذج (عبر الإنترنت) او عبر الهاتف ومن خلال المراسلات الالكترونية معنا.
		</p>
		<p class="font-Rubik text-xs text-justify mt-1">
			قد تتضمن المعلومات التي تقدمها لنا اسمك وعنوانك البريدي وعنوان بريدك الإلكتروني وتاريخ ميلادك وخطك الأرضي و / أو رقم هاتفك المحمول، بالإضافة إلى معلومات شخصية أخرى.
		</p>
	</div>
	<div class="w-[90%] mx-auto xl:w-[90%]">
		<h1 class="uppercase font-Rubik text-xl font-medium pt-4 lg:pt-4">المعلومات التي نجمعها عنك</h1>
	</div>
	<div class="w-[90%] mx-auto pb-0 xl:w-[90%]">
		<p class="font-Rubik text-xs text-justify mt-1">
			عندما تزور موقعنا الإلكتروني ، قد نستخدم ملفات تعريف الارتباط والتقنيات الأخرى لجمع المعلومات التالية تلقائيًا:
		</p>
		<ol class="font-Rubik text-xs text-justify list-disc pl-4 ml-4">
			<li>
				المعلومات الفنية، بما في ذلك عنوان بروتوكول الإنترنت (IP) المستخدم لتوصيل جهاز الكمبيوتر الخاص بك بالإنترنت، ومعلومات تسجيل الدخول، ونوع المتصفح وإصداره ، ومعرّف الجهاز ، وإعداد الموقع والمنطقة الزمنية ، وأنواع المكونات الإضافية للمتصفح وإصداراته ، ونظام التشغيل و النظام الأساسي وأوقات استجابة الصفحة وأخطاء التنزيل ؛
			</li>
			<li>
				معلومات حول زيارتك، بما في ذلك مجموعات النقرات الكاملة لمحددات مواقع الويب (URL) إلى مواقعنا الإلكترونية ومن خلالها ومن عليها؛
			</li>
			<li>
				طول زياراتك إلى صفحات معينة، ومعلومات تفاعلك مع الصفحة (مثل التمرير والنقرات وتحريك الماوس) والأساليب المستخدمة للتصفح بعيدًا عن الصفحة.
			</li>
		</ol>
	</div>
	<div class="w-[90%] mx-auto xl:w-[90%]">
		<h1 class="uppercase font-Rubik text-xl font-medium pt-4 lg:pt-4">
			المعلومات التي نتلقاها ونجمعها من مصادر أخرى
		</h1>
	</div>
	<div class="w-[90%] mx-auto pb-0 xl:w-[90%]">
		<p class="font-Rubik text-xs text-justify mt-1">
			قد نتلقى معلومات عنك من مواقع الويب الأخرى التي نديرها أو من الخدمات الأخرى التي نقدمها. قد نقوم أيضًا بجمع معلومات عنك من المصادر المتاحة للجمهور، بما في ذلك المحتوى المتاح للجمهور على وسائل التواصل الاجتماعي.
		</p>
	</div>
	<div class="w-[90%] mx-auto xl:w-[90%]">
		<h1 class="uppercase font-Rubik text-xl font-medium pt-4 lg:pt-4">ملفات تعريف الارتباط</h1>
	</div>
	<div class="w-[90%] mx-auto pb-0 xl:w-[90%]">
		<p class="font-Rubik text-xs text-justify mt-1">
			يستخدم موقعنا ملفات تعريف الارتباط وتقنية مماثلة. ملف تعريف الارتباط هو ملف صغير من الأحرف والأرقام التي يضعها موقعنا على جهاز الحاسوب الخاص بك، أو غيرها من المعدات التي تستخدمها للوصول إلى موقعنا. تسمح لنا ملفات تعريف الارتباط هذه بتمييزك عن المستخدمين الآخرين لموقعنا.
		</p>
		<p class="font-Rubik text-xs text-justify mt-1">
			يمكنك قراءة المزيد حول ملفات تعريف الارتباط وكيفية التعرف عليها على www.aboutcookies.org
		</p>
		<p class="font-Rubik text-xs text-justify mt-1">
			تؤدي ملفات تعريف الارتباط العديد من الوظائف، مثل السماح لك بالتنقل بين الصفحات بكفاءة وتذكر تفضيلاتك وتحسين تجربة المستخدم بشكل عام. يمكنهم أيضًا المساعدة في ضمان أن تكون الإعلانات التي تشاهدها عبر الإنترنت أكثر صلة بك وباهتماماتك.
		</p>
		<p class="font-Rubik text-xs text-justify mt-1">
			يشير استخدامك لموقعنا على الويب إلى موافقتك على ملفات تعريف الارتباط الموضحة في هذه السياسة. يرجى الاطلاع على "كيف يمكنك التحكم في ملفات تعريف الارتباط" أدناه للحصول على مزيد من المعلومات حول كيفية الحصول على موافقتك في أي وقت.
		</p>
		<table class="font-Rubik text-xs mt-2 table-auto text-left">
			<thead>
				<tr>
					<th class="font-bold border border-gray-400 p-2">نوع ملف تعريف الارتباط	</th>
					<th class="font-bold border border-gray-400 p-2">ماذا تعمل، أو ماذا تفعل؟</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td class="border border-gray-400 p-2">ملفات تعريف الارتباط الضرورية للغاية</td>
					<td class="border border-gray-400 p-2">
						تعد ملفات تعريف الارتباط هذه ضرورية لتمكينك من التنقل في الموقع واستخدام ميزاته، مثل الوصول إلى المناطق الآمنة في الموقع. بدون خدمات ملفات تعريف الارتباط هذه التي طلبتها، مثل حجوزات الغرف أو الدفع الإلكتروني، لا يمكن توفيرها.
					</td>
				</tr>
				<tr>
					<td class="border border-gray-400 p-2">ملفات تعريف الارتباط الخاصة بالأداء</td>
					<td class="border border-gray-400 p-2">
						تجمع ملفات تعريف الارتباط هذه معلومات حول كيفية استخدامك لموقعنا على الويب، على سبيل المثال الصفحات التي تنتقل إليها كثيرًا، وما إذا كنت تتلقى رسائل خطأ من صفحات ويب معينة. لا تجمع ملفات تعريف الارتباط هذه المعلومات التي تحدد هويتك. يتم تجميع جميع المعلومات التي تجمعها ملفات تعريف الارتباط هذه وبالتالي فهي مجهولة المصدر. يتم استخدامه فقط لتحسين كيفية عمل الموقع. باستخدام موقعنا، فإنك توافق على أنه يمكننا وضع هذه الأنواع من ملفات تعريف الارتباط على جهازك.
					</td>
				</tr>
				<tr>
					<td class="border border-gray-400 p-2">ملفات تعريف الارتباط الوظيفية</td>
					<td class="border border-gray-400 p-2">
						تسمح ملفات تعريف الارتباط هذه لموقع الويب بتذكر الاختيارات التي تقوم بها (مثل اللغة التي تختارها أو المنطقة التي تتواجد فيها) وتوفر ميزات شخصية محسّنة أكثر. يمكن أيضًا استخدام ملفات تعريف الارتباط هذه لتذكر التغييرات التي أجريتها على حجم النص والخطوط والأجزاء الأخرى من صفحات الويب التي يمكنك تخصيصها. قد تكون المعلومات التي تجمعها ملفات تعريف الارتباط هذه مجهولة المصدر ولا يمكنها تتبع نشاط التصفح الخاص بك على مواقع الويب التي تديرها جهات خارجية. باستخدام موقعنا، فإنك توافق على أنه يمكننا وضع هذه الأنواع من ملفات تعريف الارتباط على جهازك.
					</td>
				</tr>
				<tr>
					<td class="border border-gray-400 p-2">الاستهداف أو ملفات تعريف الارتباط الإعلانية</td>
					<td class="border border-gray-400 p-2">
						تُستخدم ملفات تعريف الارتباط هذه لتقديم إعلانات أكثر صلة بك وباهتماماتك. يتم استخدامها أيضًا للحد من عدد المرات التي تشاهد فيها إعلانًا بالإضافة إلى المساعدة في قياس فعالية حملاتنا الإعلانية. يتذكرون أيضًا متى قمت بزيارة الموقع من قبل. في بعض الأحيان نشارك معلومات مجهولة المصدر حول نشاط التصفح الخاص بك مع شركائنا في الإعلانات والمبدعين. قد يستخدمون هذه المعلومات للإعلان عن المنتجات التي قد تهمك على مواقع الويب الأخرى أو لمساعدتنا في تطوير حملات إعلانية مستقبلية.
					</td>
				</tr>
			</tbody>
		</table>
		<p class="font-Rubik text-xs text-justify mt-1">
			يرجى ملاحظة أن الأطراف الثالثة (بما في ذلك، على سبيل المثال ، شبكات الإعلان ومقدمي الخدمات الخارجية مثل خدمات تحليل حركة مرور الويب) قد تستخدم أيضًا ملفات تعريف الارتباط ، التي لا نتحكم فيها. من المحتمل أن تكون ملفات تعريف الارتباط هذه ملفات تعريف ارتباط تحليلية / خاصة بالأداء أو ملفات تعريف ارتباط مستهدفة.
		</p>
	</div>
	<div class="w-[90%] mx-auto xl:w-[90%]">
		<h1 class="uppercase font-Rubik text-xl font-medium pt-4 lg:pt-4">كيف يمكنك التحكم في ملفات تعريف الارتباط</h1>
	</div>
	<div class="w-[90%] mx-auto pb-0 xl:w-[90%]">
		<p class="font-Rubik text-xs text-justify mt-1">
			يتضمن متصفح الويب الخاص بك خيارًا يسمح لك برفض إعداد جميع ملفات تعريف الارتباط أو بعضها. ومع ذلك، إذا قمت بذلك، فقد لا تتمكن من الوصول إلى أجزاء من موقعنا وقد تجعل تجربة التصفح الخاصة بك أقل متعة. ما لم تقم بتعديل إعدادات المتصفح بحيث يرفض ملفات تعريف الارتباط، سيصدر نظامنا ملفات تعريف الارتباط كما هو موضح أعلاه عند دخولك إلى موقعنا. إذا كنت ترغب في حذف أي ملفات تعريف ارتباط على جهاز الحاسوب الخاص بك، فيرجى الرجوع إلى إرشادات الشركة المصنعة لمتصفحك بالنقر فوق "مساعدة" في قائمة المتصفح.
		</p>
	</div>
	<div class="w-[90%] mx-auto xl:w-[90%]">
		<h1 class="uppercase font-Rubik text-xl font-medium pt-4 lg:pt-4">
			كيف نستخدم المعلومات الشخصية الخاصة بك؟
		</h1>
	</div>
	<div class="w-[90%] mx-auto pb-0 xl:w-[90%]">
		<table class="font-Rubik text-xs mt-2 table-auto text-left">
			<thead>
				<tr>
					<th class="font-bold border border-gray-400 p-2">قد نستخدم معلوماتك الشخصية من أجل:</th>
					<th class="font-bold border border-gray-400 p-2">
						كيف نستخدم المعلومات الشخصية لهذا الغرض؟
					</th>
					<th class="font-bold border border-gray-400 p-2">
						ما هو الأساس القانوني لنا لمعالجة معلوماتك بهذه الطريقة؟
					</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td class="border border-gray-400 p-2">
						الامتثال للمتطلبات القانونية وممارسة الدعاوى القانونية أو الدفاع عنها.
					</td>
					<td class="border border-gray-400 p-2">
						قد نحتاج أحيانًا إلى معالجة المعلومات الشخصية للامتثال للمتطلبات القانونية التي نخضع لها.
					</td>
					<td class="border border-gray-400 p-2">
						من مصلحتنا المشروعة معالجة المعلومات الشخصية لأغراض رفع الدعاوى القانونية والدفاع عنها. قد تكون معالجة المعلومات الشخصية ضرورية أيضًا لضمان الامتثال لالتزاماتنا القانونية.
					</td>
				</tr>
				<tr>
					<td class="border border-gray-400 p-2">
						قم بمعالجة معلوماتك الشخصية حيثما كان ذلك ضروريًا للحفاظ على موقعنا آمنًا وآمنًا.
					</td>
					<td class="border border-gray-400 p-2">
						قد نحتاج إلى معالجة معلوماتك الشخصية من أجل الحفاظ على موقعنا آمنًا وآمنًا ولحمايته من أي نشاط غير قانوني أو احتيالي مثل الهجمات الإلكترونية.
					</td>
					<td class="border border-gray-400 p-2">
						من مصلحتنا المشروعة مراقبة كيفية استخدام موقعنا لاكتشاف ومنع الاحتيال والجرائم الأخرى وإساءة استخدام موقعنا. يساعدنا هذا في ضمان أنه يمكنك استخدام موقعنا بأمان.
					</td>
				</tr>
				<tr>
					<td class="border border-gray-400 p-2">
						احتفظ بقائمة منع محدثة حيث طلبت عدم الاتصال بك ، حتى لا نعيد الاتصال بك عن غير قصد.
					</td>
					<td class="border border-gray-400 p-2">
						نحن نتفهم أنك قد تفضل عدم الاتصال بك. نحتفظ بسجلات لتفضيلاتك للتأكد من أننا لا نتصل بك إذا طلبت منا عدم القيام بذلك. قد نحتاج إلى معالجة بعض معلوماتك الشخصية (مثل اسمك وعنوان بريدك الإلكتروني) من أجل القيام بذلك.
					</td>
					<td class="border border-gray-400 p-2">
						من مصلحتنا المشروعة معالجة المعلومات الشخصية من أجل الحفاظ على قائمة منع محدثة والتأكد من أننا لا نتصل بك حيثما طلبت منا عدم القيام بذلك.
					</td>
				</tr>
			</tbody>
		</table>
	</div>
	<div class="w-[90%] mx-auto xl:w-[90%]">
		<h1 class="uppercase font-Rubik text-xl font-medium pt-4 lg:pt-4">
			أين نقوم بتخزين معلوماتك الشخصية
		</h1>
	</div>
	<div class="w-[90%] mx-auto pb-0 xl:w-[90%]">
		<p class="font-Rubik text-xs text-justify mt-1">
			سيتم تخزين المعلومات الشخصية التي نجمعها منك في دبي، على الرغم من أنه يمكن نقلها إلى أي شركة ضمن مجموعة شركاتنا، بغض النظر عن الموقع الجغرافي، في عملية عملياتنا التجارية. سنتخذ جميع الخطوات الضرورية بشكل معقول لضمان التعامل مع معلوماتك الشخصية بشكل آمن ووفقًا لهذه السياسة وقوانين حماية البيانات المعمول بها.
		</p>
	</div>
	<div class="w-[90%] mx-auto xl:w-[90%]">
		<h1 class="uppercase font-Rubik text-xl font-medium pt-4 lg:pt-4">أمن المعلومات الشخصية</h1>
	</div>
	<div class="w-[90%] mx-auto pb-0 xl:w-[90%]">
		<p class="font-Rubik text-xs text-justify mt-1">
			يتم تخزين جميع المعلومات التي تزودنا بها عبر موقعنا على خوادمنا الآمنة.
		</p>
		<p class="font-Rubik text-xs text-justify mt-1">
			لقد اتخذنا خطوات لحماية سلامة البنية التحتية للاتصالات والحوسبة لدينا، والتي تشمل تنفيذ تقنية المصادقة، والمراقبة، والتدقيق، والتشفير. تم دمج الإجراءات الأمنية في التصميم والتنفيذ والعمليات اليومية لهذا الموقع كجزء من التزامنا المستمر بأمن المحتوى الإلكتروني والنقل الإلكتروني للمعلومات. على الرغم من بذلنا قصارى جهدنا، ولكن للأسف يعد نقل المعلومات عبر الإنترنت ليس آمنًا تمامًا. على الرغم من وجود إجراءات وتدابير أمنية صارمة، إلا أنه لا يمكننا ضمان أمن بياناتك المنقولة إلى موقعنا.
		</p>
	</div>
	<div class="w-[90%] mx-auto xl:w-[90%]">
		<h1 class="uppercase font-Rubik text-xl font-medium pt-4 lg:pt-4">مواقع وتطبيقات الطرف الثالث</h1>
	</div>
	<div class="w-[90%] mx-auto pb-0 xl:w-[90%]">
		<p class="font-Rubik text-xs text-justify mt-1">
			قد تحتوي مواقعنا على روابط من وإلى مواقع أطراف ثالثة. يرجى ملاحظة أنه إذا اتبعت رابطًا لأي من هذه المواقع، فستكون لهذه المواقع شروط الاستخدام وسياسات الخصوصية الخاصة بها وأننا لا نتحمل أي مسؤولية عن هذه السياسات. يرجى التحقق من هذه السياسات قبل إرسال أي بيانات شخصية إلى هذه المواقع.
		</p>
	</div>
	<div class="w-[90%] mx-auto xl:w-[90%]">
		<h1 class="uppercase font-Rubik text-xl font-medium pt-4 lg:pt-4">حقوقك</h1>
	</div>
	<div class="w-[90%] mx-auto pb-0 xl:w-[90%]">
		<p class="font-Rubik text-xs text-justify mt-1">
			تتمتع بالحقوق التالية فيما يتعلق بالمعلومات الشخصية التي نحتفظ بها عنك.
		</p>
	</div>
	<div class="w-[90%] mx-auto xl:w-[90%]">
		<h1 class="uppercase font-Rubik text-xl font-medium pt-4 lg:pt-4">
			حقك في الوصول إلى المعلومات التي نحتفظ بها عنك
		</h1>
	</div>
	<div class="w-[90%] mx-auto pb-0 xl:w-[90%]">
		<p class="font-Rubik text-xs text-justify mt-1">
			يمكنك طلب الوصول إلى المعلومات التي نحتفظ بها عنك عن طريق الاتصال بنا باستخدام تفاصيل الاتصال الموضحة أدناه. عادةً ما يتم توفير ملف معلوماتك الخاص بنا لك في غضون 30 يومًا ، على الرغم من أننا قد لا نتمكن أحيانًا من منحك حق الوصول إلى المعلومات الشخصية التي نحتفظ بها عنك (على سبيل المثال ، قد لا نتمكن من منحك حق الوصول إذا كانت سيؤثر بشكل غير معقول على خصوصية شخص آخر أو إذا كان منحك إمكانية الوصول يشكل تهديدًا خطيرًا على حياة شخص ما أو صحته أو سلامته). يرجى ملاحظة أننا قد نفرض رسومًا إدارية لتوفير الوصول إلى معلوماتك في ظروف معينة. ستكون أي رسوم من هذا القبيل معقولة وسنخبرك بالتهمة والحصول على موافقتك قبل تزويدك بإمكانية الوصول إلى معلوماتك الشخصية. يرجى ملاحظة أنه إذا طلبت نسخة من بياناتك باستخدام وسائل إلكترونية (مثل البريد الإلكتروني)، فسنقدم نسخة من معلوماتك في شكل إلكتروني ما لم تطلب منا القيام بخلاف ذلك.
		</p>
	</div>
	<div class="w-[90%] mx-auto xl:w-[90%]">
		<h1 class="uppercase font-Rubik text-xl font-medium pt-4 lg:pt-4">
			حقك في الاعتراض على معالجتنا لمعلوماتك الشخصية
		</h1>
	</div>
	<div class="w-[90%] mx-auto pb-0 xl:w-[90%]">
		<p class="font-Rubik text-xs text-justify mt-1">
			لديك الحق في الاعتراض على معالجتنا لمعلوماتك الشخصية، حتى عندما تكون هذه المعالجة ضرورية لمصالحنا المشروعة (على سبيل المثال، عندما تكون المعالجة ضرورية للأهداف التجارية المشروعة التي نتابعها في سياق عملنا). لديك أيضًا الحق في الاعتراض على أي نتائج لنشاط معالجة يضر بحقوقك ويتم إجراؤه حصريًا من خلال الأنظمة الآلية.
		</p>
		<p class="font-Rubik text-xs text-justify mt-1">
			لديك أيضًا الحق في مطالبتنا بالتوقف عن معالجة معلوماتك الشخصية لأغراض التسويق المباشر، بما في ذلك أي وصف نقوم به لأغراض التسويق المباشر. سنرسل لك على أي حال اتصالات تسويقية فقط إذا كنت قد وافقت مسبقًا على ذلك، ولكن إذا غيرت رأيك، يمكنك بسهولة إلغاء الاشتراك من اتصالاتنا التسويقية في أي وقت باتباع الإرشادات الواردة في هذه الاتصالات التسويقية.
		</p>
		<p class="font-Rubik text-xs text-justify mt-1">
			يرجى ملاحظة أنه إذا كنت قد وافقت على تلقي عروض من شركائنا، فإن شركائنا مسؤولون عن مراعاة حقوقك، بما في ذلك حقك في إلغاء الاشتراك في تلقي العروض منهم.
		</p>
	</div>
	<div class="w-[90%] mx-auto xl:w-[90%]">
		<h1 class="uppercase font-Rubik text-xl font-medium pt-4 lg:pt-4">
			حقك في نقل معلوماتك الشخصية إلى منظمة أخرى
		</h1>
	</div>
	<div class="w-[90%] mx-auto pb-0 xl:w-[90%]">
		<p class="font-Rubik text-xs text-justify mt-1">
			عندما نحتفظ بمعلومات شخصية عنك بموافقتك أو لتنفيذ عقد معك، يحق لك أيضًا أن تطلب منا تزويدك بالمعلومات الشخصية التي نحتفظ بها عنك بتنسيق منظم وشائع الاستخدام ويمكن قراءته آليًا. وحيثما يكون ذلك ممكنًا تقنيًا، نقل تلك المعلومات الشخصية إلى منظمة أخرى.
		</p>
	</div>
	<div class="w-[90%] mx-auto xl:w-[90%]">
		<h1 class="uppercase font-Rubik text-xl font-medium pt-4 lg:pt-4">تقديم شكوى</h1>
	</div>
	<div class="w-[90%] mx-auto pb-0 xl:w-[90%]">
		<p class="font-Rubik text-xs text-justify mt-1">
			لديك الحق في تقديم شكوى إلى هيئة حماية البيانات المحلية في المنطقة الاقتصادية الأوروبية إذا كنت تعتقد أننا لم نمتثل لقوانين حماية البيانات المعمول بها.
		</p>
		<p class="font-Rubik text-xs text-justify mt-1">
			ستختلف هيئة حماية البيانات المحلية حسب البلد الذي تتواجد فيه.
		</p>
	</div>
	<div class="w-[90%] mx-auto xl:w-[90%]">
		<h1 class="uppercase font-Rubik text-xl font-medium pt-4 lg:pt-4">الاتصال بنا</h1>
	</div>
	<div class="w-[90%] mx-auto pb-0 xl:w-[90%]">
		<p class="font-Rubik text-xs text-justify mt-1">
			إذا كانت لديك أي أسئلة أو مخاوف حول كيفية تعاملنا مع معلوماتك الشخصية، فأنت ترغب في أن تطلب منا التوقف عن معالجة معلوماتك الشخصية ، أو إذا كنت ترغب في طلب نسخة من المعلومات الشخصية التي نحتفظ بها عنك ، فيرجى الاتصال بنا هنا أو عن طريق الكتابة إلينا على:
		</p>
		<p class="font-Rubik text-xs text-justify mt-1">
			شركة اورو٢٤ للتطوير العقاري
		</p>
		<p class="font-Rubik text-xs text-justify mt-1">
			بالقرب من معرض بنتلي، أم الشيف ،
		</p>
		<p class="font-Rubik text-xs text-justify mt-1">
			شارع الشيخ زايد
		</p>
		<p class="font-Rubik text-xs text-justify mt-1">
			صندوق البريد: 112466
		</p>
		<p class="font-Rubik text-xs text-justify mt-1">
			دبي
		</p>
		<p class="font-Rubik text-xs text-justify mt-1">
			الإمارات العربية المتحدة
		</p>
		<p class="font-Rubik text-xs text-justify mt-1">
			يرجى تضمين عنوان الرد الخاص بك عند الكتابة إلينا.
		</p>
	</div>
	<div class="w-[90%] mx-auto xl:w-[90%]">
		<h1 class="uppercase font-Rubik text-xl font-medium pt-4 lg:pt-4">
			متى نستطيع الاحتفاظ المعلومات الشخصية الخاصة بك؟
		</h1>
	</div>
	<div class="w-[90%] mx-auto pb-0 xl:w-[90%]">
		<p class="font-Rubik text-xs text-justify mt-1">
			يتم تخزين معلوماتك الشخصية من قبلنا و / أو من قبل مزودي الخدمة لدينا، بشكل صارم بالقدر اللازم لأداء التزاماتنا وبصرامة للوقت اللازم لتحقيق الأغراض التي تم جمع المعلومات من أجلها، وفقًا لقوانين حماية البيانات المعمول بها. عندما لا نعد بحاجة إلى استخدام معلوماتك، سنزيلها من أنظمتنا وسجلاتنا و / أو نتخذ خطوات لإخفاء هويتك بشكل صحيح بحيث لا يمكن التعرف عليك منها (ما لم نحتاج إلى الاحتفاظ بمعلوماتك للامتثال للقانون أو الالتزامات التنظيمية التي نخضع لها).
		</p>
	</div>
	<div class="w-[90%] mx-auto xl:w-[90%]">
		<h1 class="uppercase font-Rubik text-xl font-medium pt-4 lg:pt-4">التغييرات في هذه السياسة</h1>
	</div>
	<div class="w-[90%] mx-auto pb-0 xl:w-[90%]">
		<p class="font-Rubik text-xs text-justify mt-1">
			قد نقوم بتحديث هذه السياسة من وقت لآخر استجابة للمتطلبات القانونية أو التنظيمية أو التشغيلية المتغيرة. سيتم تحديث أي تغييرات على موقعنا. استمرار استخدامك لموقعنا و / أو خدماتنا بعد دخول أي من هذه التحديثات حيز التنفيذ سيشكل قبولًا لهذه التغييرات.
		</p>
	</div>
</section>
	}
	<!-- terms and condition Section End -->
</div>
<!--Body Content End-->
<!--Write js Here-->
@section IndexScript {

}
