@{
	Layout = "~/Views/Shared/_Layout_Web_View.cshtml";
	ViewBag.Title = "";//TERMS_AND_CONDITIONS;
	var culture = System.Threading.Thread.CurrentThread.CurrentUICulture.Name.ToLowerInvariant();
	bool RTL = CultureHelper.IsRighToLeft();
}
<!--Give Styling Here-->
@section IndexStyles {
}
<!--Body Content-->

<div class="render-body" style="">
	<!-- terms and condition Section Start -->
	@if (!RTL)
	{
		<section class="bg-gk-white max-w-screen-2xl 2xl:mx-auto pb-10">
			<div class="w-[90%] mx-auto xl:w-[90%]">
				<h1 class="uppercase font-Rubik text-xl font-medium pt-4 lg:pt-14">1. Agreement and Amendments</h1>
			</div>
			<div class="w-[90%] mx-auto pb-0 xl:w-[90%]">
				<p class="font-Rubik text-xs text-justify mt-1">
					1.1 By accessing any part of the Website, you (“You” or “Your”) agree to the Terms.
				</p>
				<p class="font-Rubik text-xs text-justify mt-1">
					1.2 The Company reserves the right to update the Terms from time to time. If You do not wish to accept
					the new Terms You should not continue to use the Website. Your use of the Website indicates Your
					agreement to be bound by the new Terms.
				</p>
				<p class="font-Rubik text-xs text-justify mt-1">
					1.3 Certain provisions of the Terms may be superseded by expressly designated legal notices or terms
					located on particular pages on the Website.
				</p>
				<p class="font-Rubik text-xs text-justify mt-1">
					1.4 Additional terms and conditions which vary or supplement the Terms may apply. If You apply for any
					property, product or service detailed on the Website, these terms and conditions should be read in
					conjunction with any other terms and conditions which relate to any such property, product or service
					and, in the event of any contradiction between the Terms and the specific terms and conditions relating
					to such property, product or service, the latter shall prevail.
				</p>
				<p class="font-Rubik text-xs text-justify mt-1">
					1.5 You agree to use the Website (or any part of it) in accordance with all applicable laws relevant to
					the jurisdiction from which You access the Website.
				</p>
			</div>
			<div class="w-[90%] mx-auto xl:w-[90%]">
				<h1 class="uppercase font-Rubik text-xl font-medium pt-4 lg:pt-4">2. Intellectual Property</h1>
			</div>
			<div class="w-[90%] mx-auto pb-0 xl:w-[90%]">
				<p class="font-Rubik text-xs text-justify mt-1">
					2.1 Copyright, trademark, database and other intellectual property rights protect the content of this
					Website and You acknowledge that the material and content (including without limitation photographs and
					graphical images) supplied as part of this Website shall remain with the Company or its licensors.
				</p>
				<p class="font-Rubik text-xs text-justify mt-1">
					2.2 You are permitted to print and download extracts from the Website only for Your own use, and even
					then only on the following basis:
				</p>
				<ol class="font-Rubik text-xs text-justify list-disc pl-4">
					<li>no documents or related graphics on the Website are modified in any way;</li>
					<li>no graphics on the Website are used separately from the corresponding text; and </li>
					<li>You keep intact all copyright and proprietary notices.</li>
				</ol>
				<p class="font-Rubik text-xs text-justify mt-1">
					For the avoidance of doubt, You may not use any part of the materials and/or content on the Website for
					commercial purposes without obtaining a licence to do so from the Company or the Company’s licensors.
				</p>
				<p class="font-Rubik text-xs text-justify mt-1">
					2.3 If You print, copy or download any part of the Website in breach of these Terms, Your right to use
					the Website will cease immediately and You must, at the Company’s option, return or destroy any copies
					of the materials You have made.
				</p>
				<p class="font-Rubik text-xs text-justify mt-1">
					2.4 Any unauthorised downloading, re-transmission or other copying or modification of any of the
					contents of the Website may be in breach of statutory or common law rights which could be the subject of
					legal action.
				</p>
				<p class="font-Rubik text-xs text-justify mt-1">
					2.5 Any use of extracts from the Website for any purpose, other than in accordance with clause 2.1, is
					prohibited.
				</p>
				<p class="font-Rubik text-xs text-justify mt-1">
					2.6 Subject to clause 2.1, no part of the Website may be reproduced or stored in any other website or
					included in any public or private electronic retrieval system or service without the Company’s prior
					written permission.
				</p>
				<p class="font-Rubik text-xs text-justify mt-1">
					2.7 Any rights not expressly granted in the Terms are reserved.
				</p>
			</div>
			<div class="w-[90%] mx-auto xl:w-[90%]">
				<h1 class="uppercase font-Rubik text-xl font-medium pt-4 lg:pt-4">3. Service Access</h1>
			</div>
			<div class="w-[90%] mx-auto pb-0 xl:w-[90%]">
				<p class="font-Rubik text-xs text-justify mt-1">
					3.1 Access to the Website is permitted on a temporary basis and the Company reserves the right to
					withdraw or amend the Website without notice. The Company will not be liable if for any reason the
					Website is unavailable at any time or for any period.
				</p>
				<p class="font-Rubik text-xs text-justify mt-1">
					3.2 You are responsible for making all arrangements necessary for You to have access to the Website. You
					are also fully responsible for ensuring that any person who has access to the Website through Your
					internet connection is aware of these Terms, and that they comply with them.
				</p>
				<p class="font-Rubik text-xs text-justify mt-1">
					3.3 The Company may at its sole discretion and for any reason restrict access without notice to some
					parts of the Website or to the entire Website, including without limitation to as users who have
					registered with the Company.
				</p>
				<p class="font-Rubik text-xs text-justify mt-1">
					3.4 The information on the Website is provided purely for information and does not constitute or form
					part of any offer or invitation (including without limitation an offer to sell, lease or issue). All
					properties, products and services are subject to availability and the Company gives no guarantee in this
					regard.
				</p>
			</div>
			<div class="w-[90%] mx-auto xl:w-[90%]">
				<h1 class="uppercase font-Rubik text-xl font-medium pt-4 lg:pt-4">4. Visitor Material and Conduct</h1>
			</div>
			<div class="w-[90%] mx-auto pb-0 xl:w-[90%]">
				<p class="font-Rubik text-xs text-justify mt-1">
					4.1 Other than personally identifiable information covered under the Company’s Privacy Policy set out in
					clause 5, below, any ideas, suggestions, comments, reviews, concepts, know-how, information, techniques,
					text, photos, images, sounds, graphics or other content (altogether the “Materials”) You transmit or
					post to the Website shall be considered non-confidential and non-proprietary. The Company shall have no
					obligations with respect to such Materials.
				</p>
				<p class="font-Rubik text-xs text-justify mt-1">
					4.2 By submitting Materials to the Company via the Website, You grant the Company, its subsidiaries, its
					parents and all other companies in the group of companies of which the Company forms part an
					unrestricted, world-wide, royalty-free, irrevocable licence to use the Materials at the Company’s own
					discretion for any purpose including, without limitation, use, reproduce, display, adapt, modify,
					transmit, disclose, distribute to third parties and commercially exploit the Materials in any medium
					together with an unrestricted right to use any ideas, concepts, know-how or techniques contained in the
					Materials for any purpose. You also, save as permitted by law, waive any moral rights in the same.
				</p>
				<p class="font-Rubik text-xs text-justify mt-1">
					4.3 The Company reserves the right to monitor, inspect and remove (without liability to You) any
					Materials or posting You make on the Website, if, in absolute the Company’s opinion, such material does
					not comply with the content standards set out in the Company’s acceptable use policy or is in breach of
					these Terms. The Company also has the right to disclose Your identity to any third party who is claiming
					that any Materials posted or uploaded by You to the Website is an infringement of their intellectual
					property rights or of their right to privacy.
				</p>
				<p class="font-Rubik text-xs text-justify mt-1">
					4.4 The Company will not be responsible, or liable to any third party, for the content or accuracy of
					any Materials posted by You or any other user of the Website.
				</p>
				<p class="font-Rubik text-xs text-justify mt-1">
					4.5 You warrant and agree that in using the Website (or any part thereof) You will not:
				</p>
				<ol class="font-Rubik text-xs text-justify list-disc pl-4">
					<li>
						use the Website in any way that may lead to the encouragement, procurement or carrying out of any
						criminal or unlawful activity;
					</li>
					<li>
						transfer files to or through the Website that contain viruses, Trojans, worms or anything else that
						is malicious or technologically harmful or that may interfere with, interrupt or disrupt the normal
						operation of the Website;
					</li>
					<li>
						introduce or transfer through the Website material that is defamatory, libellous, obscene, liable to
						incite racial hatred, offensive, threatening, discriminatory, menacing or blasphemous, or material
						that may cause annoyance, inconvenience or needless anxiety;
					</li>
					<li>
						use the Website in a way to cause it to be interrupted, damaged, rendered less efficient or in a way
						so that the effectiveness or functionality of the Website is impaired;
					</li>
					<li>
						use the Website in a manner that infringes the rights of another person, firm or company (including,
						without limitation, intellectual property rights, confidentiality rights or rights of privacy);
					</li>
					<li>
						post or transmit to or from the Website any material for which You have not obtained all necessary
						licences and/or approvals;
					</li>
					<li>
						do anything that would seek to bypass or interfere with any security features of the Website, or
						interfere with any of the Company’s websites, servers, or networks;
					</li>
					<li>
						attempt to gain unauthorised access to any part or component of the Website, the server on which the
						Website is stored or any server, computer or database connected to the Website;
					</li>
					<li>upload files which contain an active hypertext link to another website;</li>
					<li>
						impersonate any person or entity, including without limitation any of the Company’s employees,
						associates, principals or directors nor misrepresent or falsely state Your affiliation with any
						person or entity
					</li>
					<li>
						offer to sell, advertise, promote or solicit any goods or services for any commercial purpose, or
						otherwise engage in any commercial activity; or
					</li>
					<li>
						do anything which may constitute or encourage conduct that could be considered a criminal offence,
						give rise to civil liability, or otherwise be contrary to the law of or infringe the rights of any
						third party, in any country of the world.
					</li>
				</ol>
				<p class="font-Rubik text-xs text-justify mt-1">
					4.6 You may not misuse the Website (including, without limitation, by hacking).
				</p>
				<p class="font-Rubik text-xs text-justify mt-1">
					4.7 The Company may fully co-operate with any law enforcement authorities or court order requesting or
					directing the Company to disclose the identity or locate anyone posting any Material in breach of the
					Terms or otherwise for the prevention or detection of crime or the apprehension or prosecution of
					offenders. There may be other circumstances in which the Company may be required by law to disclose
					information about You or Your use of the Website
				</p>
				<p class="font-Rubik text-xs text-justify mt-1">
					4.8 In the event that You have a claim against another user of the Website arising out of that user’s
					use of the Website, You agree to pursue such right, claim or action independently of and without
					recourse to Us.
				</p>
			</div>
			<div class="w-[90%] mx-auto xl:w-[90%]">
				<h1 class="uppercase font-Rubik text-xl font-medium pt-4 lg:pt-4">5. Privacy Policy</h1>
			</div>
			<div class="w-[90%] mx-auto pb-0 xl:w-[90%]">
				<p class="font-Rubik text-xs text-justify mt-1">
					5.1 You acknowledge and accept that the Company’s web server automatically collects Your IP address when
					You visit the Website and that the Company may use Your IP address to help diagnose problems with the
					Company’s server and to compile statistics on Website usage.
				</p>
				<p class="font-Rubik text-xs text-justify mt-1">
					5.2 The Company will treat Your personal information as confidential and will only disclose it for the
					following purposes:
				</p>
				<ol class="font-Rubik text-xs text-justify list-disc pl-4">
					<li>
						if the Company believes it is necessary to comply with a requirement of the UAE law enforcement
						agencies;
					</li>
					<li>processing orders (if applicable);</li>
					<li>
						where the personal information is given to the Company for that purpose, evaluating that personal
						information given against present or future employment opportunities within the Company or any of
						its affiliated companies;
					</li>
					<li>to administer this Website;</li>
					<li>for statistical purposes to improve this Website and its services to You;</li>
					<li>to notify You of products, special offers or competitions that may be of interest to You; or</li>
					<li>
						to disclose to affiliated companies and other relevant third parties, who may contact You about
						their products or services that may be of interest to You.
					</li>
				</ol>
			</div>
			<div class="w-[90%] mx-auto xl:w-[90%]">
				<h1 class="uppercase font-Rubik text-xl font-medium pt-4 lg:pt-4">6. Third Party Links</h1>
			</div>
			<div class="w-[90%] mx-auto pb-0 xl:w-[90%]">
				<p class="font-Rubik text-xs text-justify mt-1">
					6.1 Links to third party websites on the Website are provided solely for Your convenience. If You use
					these links, You leave the Website. The Company has not reviewed all of these third party websites. The
					Company does not control and is not responsible for these third party websites or their content or
					availability. The Company therefore does not endorse or make any representations about any of the third
					party websites, or any material found there, or any results that may be obtained from using them. If You
					decide to access any of the third party websites linked to the Website, You do so entirely at Your own
					risk.
				</p>
				<p class="font-Rubik text-xs text-justify mt-1">
					6.2 If You would like to link to the Website, You may only do so on the basis that You link to, but do
					not replicate, the home page of the Website, and subject to the following conditions:
				</p>
				<ol class="font-Rubik text-xs text-justify list-disc pl-4">
					<li>
						You do not remove, distort or otherwise alter the size or appearance of any of the Logos of any of
						the Group (including without limitation the Dubai Properties logo;
					</li>
					<li>You do not create a frame or any other browser or border environment around the Website;</li>
					<li>
						You do not in any way imply that the Company is endorsing any products or services other than its
						own;
					</li>
					<li>
						You do not misrepresent Your relationship with the Company or present any other false information
						about the Company;
					</li>
					<li>
						You do not otherwise use any of the trademarks displayed on the Website without express written
						permission from the Company;
					</li>
					<li>You do not link from a website that is not owned by You; and</li>
					<li>
						Your website does not contain content that is distasteful, offensive or controversial, infringes any
						intellectual property rights or rights of any other person or otherwise does not comply with all
						applicable laws and regulations.
					</li>
				</ol>
				<p class="font-Rubik text-xs text-justify mt-1">
					6.3 The Company expressly reserves the right to revoke the right granted in clause 6.2 for breach of
					these Terms and to take any action it deems appropriate.
				</p>
				<p class="font-Rubik text-xs text-justify mt-1">
					6.4 You shall fully indemnify the Company for any loss or damage whatsoever suffered by the Group as a
					result of breach of clause 6.2.
				</p>
			</div>
			<div class="w-[90%] mx-auto xl:w-[90%]">
				<h1 class="uppercase font-Rubik text-xl font-medium pt-4 lg:pt-4">7. Disclaimer</h1>
			</div>
			<div class="w-[90%] mx-auto pb-0 xl:w-[90%]">
				<p class="font-Rubik text-xs text-justify mt-1">
					7.1 While the Company endeavours to ensure that the information on the Website is correct, the Company
					neither warrants nor represents the accuracy, verification or completeness of any of the material on the
					Website. The Company may make changes to the material on the Website, or to any of the properties,
					products and prices described in it, at any time without notice. The material on the Website may be out
					of date and the Company makes no commitment to update such material. The Company does not accept any
					liability for any errors or omissions in respect of such material. If You are in any doubt as to the
					validity of such material, please contact the Company.
				</p>
				<p class="font-Rubik text-xs text-justify mt-1">
					7.2The material on the Website is provided ‘as is’, without any representations, conditions, warranties
					or other terms of any kind. Without prejudice to the generality of the foregoing, the Company makes no
					representation or warranty as to the currency, adequacy or suitability, and shall accept no liability
					for the accuracy or completeness of the information contained in this website or for any reliance placed
					by any person on the information. To the maximum extent permitted by law, the Company provides You with
					the Website on the basis that the Company excludes all representations, warranties, conditions and other
					terms (including, without limitation, the conditions implied by the laws of the United Arab Emirates and
					the Emirate of Dubai) which, but for these Terms, might have effect in relation to the Website.
				</p>
				<p class="font-Rubik text-xs text-justify mt-1">
					7.3 The Company disclaims all liability and responsibility arising from any reliance placed on the
					material on this Website by You or any visitor to the Website, or by anyone who may be informed of any
					of its contents. Any decisions or action taken by You on the basis of information provided on or via the
					Website are at Your sole discretion and risk and You should obtain professional advice where necessary.
				</p>
				<p class="font-Rubik text-xs text-justify mt-1">
					7.4 While we endeavour to ensure that the information on this website is correct, the Company neither
					warrants nor represents the accuracy, verification or completeness of any of this material. We may make
					changes to the material on this website, or to any of the properties or products described in it, at any
					time without notice. Please note that any advertising or promotional material is indicative only. The
					material maybe out of date and the Company makes no commitment to update such material. We do not accept
					any liability for any errors or omissions in respect of such material. Without prejudice to the
					generality of the foregoing, the Company makes no representation or warranty as to the currency,
					adequacy or suitability, and shall accept no liability for the accuracy or completeness of the
					information contained in this website or for any reliance placed by any person on the information. The
					Company disclaims all liability and responsibility arising from any reliance placed on the material in
					this website or on any decisions or actions taken on the basis of the information, by you or any
					visitor, or by anyone who may be informed of the site content.
				</p>
			</div>
			<div class="w-[90%] mx-auto xl:w-[90%]">
				<h1 class="uppercase font-Rubik text-xl font-medium pt-4 lg:pt-4">8. Indemnity and Liability</h1>
			</div>
			<div class="w-[90%] mx-auto pb-0 xl:w-[90%]">
				<p class="font-Rubik text-xs text-justify mt-1">
					8.1 You agree to indemnify the Company, any other party (whether or not involved in creating, producing,
					maintaining or delivering the Website), and any company in the group of which the Company forms part,
					its predecessors, successors and affiliates, the present and former owners, partners, shareholders,
					directors, officers, employees, agents and representatives of any of the foregoing and their respective
					successors and assigns (collectively, the "<strong>Group</strong>") against all claims, liability,
					damages, losses, costs and expenses, (including legal fees), suffered by the Group and arising out of
					any breach of the Terms by You (including in relation to any Materials submitted by You) or any other
					liabilities arising out of Your use of the Website or the use by any other person accessing the Website
					using Your internet account.
				</p>
				<p class="font-Rubik text-xs text-justify mt-1">
					8.2 The Group, exclude all liability and responsibility for any amount or kind of loss or damage that
					may result to You or a third party (including without limitation, any direct, indirect, punitive or
					consequential loss or damages, or any loss of income, profits, goodwill, data, contracts, use of money,
					or loss or damages arising from or connected in any way to business interruption, and whether in tort
					(including without limitation negligence), contract or otherwise, in connection with the Website in any
					way or in connection with the use, inability to use or the results of use of the Website, any websites
					linked to the Website or the material on such websites, including but not limited to loss or damage due
					to viruses that may infect Your computer equipment, software, data or other property on account of Your
					access to, use of, or browsing the Website or Your downloading of any material from the Website or any
					websites linked to the Website.
				</p>
				<p class="font-Rubik text-xs text-justify mt-1">
					8.3 If Your use of material on the Website results in the need for servicing, repair or correction of
					equipment, software or data, You assume all costs thereof.
				</p>
			</div>
			<div class="w-[90%] mx-auto xl:w-[90%]">
				<h1 class="uppercase font-Rubik text-xl font-medium pt-4 lg:pt-4">9. Governing Law and Jurisdiction</h1>
			</div>
			<div class="w-[90%] mx-auto pb-0 xl:w-[90%]">
				<p class="font-Rubik text-xs text-justify mt-1">
					9.1 These Terms shall be governed by and construed in accordance with the laws of the United Arab
					Emirates and the Emirate of Dubai. Disputes arising in connection with these Terms shall be subject to
					the exclusive jurisdiction of the courts of the Emirate of Dubai.
				</p>
				<p class="font-Rubik text-xs text-justify mt-1">
					9.2 If any of the Terms should be determined to be illegal, invalid or otherwise unenforceable, then to
					the extent of such illegality, invalidity or unenforceability, such terms or condition shall be deleted
					and severed from the rest of the Terms shall survive, remain in full force and effect and continue to be
					binding and enforceable.
				</p>
			</div>
		</section>
	}
	else
	{
<section class="bg-gk-white max-w-screen-2xl 2xl:mx-auto pb-10">
	<div class="w-[90%] mx-auto xl:w-[90%]">
		<h1 class="uppercase font-Rubik text-xl font-medium pt-4 lg:pt-14">1. الاتفاقية والتعديلات</h1>
	</div>
	<div class="w-[90%] mx-auto pb-0 xl:w-[90%]">
		<p class="font-Rubik text-xs text-justify mt-1">
			1.1 من خلال الوصول إلى أي جزء من الموقع، فإنك ("أنت ") توافق على الشروط.
		</p>
		<p class="font-Rubik text-xs text-justify mt-1">
			1.2 تحتفظ الشركة بالحق في تحديث الشروط من وقت لآخر. إذا كنت لا ترغب في قبول الشروط الجديدة، يجب عليك عدم الاستمرار في استخدام الموقع. يشير استخدامك للموقع إلى موافقتك على الالتزام بالشروط الجديدة.
		</p>
		<p class="font-Rubik text-xs text-justify mt-1">
			1.3 قد يتم استبدال بعض أحكام الشروط بإشعارات أو شروط قانونية محددة صراحةً موجودة في صفحات معينة على موقع الويب.
		</p>
		<p class="font-Rubik text-xs text-justify mt-1">
			1.4 يجوز تطبيق شروط وأحكام إضافية تختلف أو تكمل الشروط. إذا تقدمت بطلب للحصول على أي ممتلكات أو منتج أو خدمة مفصلة على موقع الويب، فيجب قراءة هذه الشروط والأحكام جنبًا إلى جنب مع أي شروط وأحكام أخرى تتعلق بأي من هذه الممتلكات أو المنتج أو الخدمة ، وفي حالة وجود أي تناقض بين الأحكام والشروط المحددة المتعلقة بهذه الممتلكات أو المنتج أو الخدمة ، تسود الأخيرة.
		</p>
		<p class="font-Rubik text-xs text-justify mt-1">
			1.5 أنت توافق على استخدام موقع الويب (أو أي جزء منه) وفقًا لجميع القوانين المعمول بها ذات الصلة بالولاية القضائية التي تدخل منها إلى موقع الويب.
		</p>
	</div>
	<div class="w-[90%] mx-auto xl:w-[90%]">
		<h1 class="uppercase font-Rubik text-xl font-medium pt-4 lg:pt-4">2. الملكية الفكرية</h1>
	</div>
	<div class="w-[90%] mx-auto pb-0 xl:w-[90%]">
		<p class="font-Rubik text-xs text-justify mt-1">
			2.1 تحمي حقوق الطبع والنشر والعلامات التجارية وقاعدة البيانات وحقوق الملكية الفكرية الأخرى محتوى هذا الموقع وتقر بأن المواد والمحتوى (بما في ذلك على سبيل المثال لا الحصر الصور الفوتوغرافية والصور الرسومية) المقدمة كجزء من هذا الموقع تظل مع الشركة أو المرخصين لها.
		</p>
		<p class="font-Rubik text-xs text-justify mt-1">
			2.2 يُسمح لك بطباعة وتنزيل مقتطفات من موقع الويب لاستخدامك الخاص فقط، وحتى في هذه الحالة فقط على الأسس التالية:
		</p>
		<ol class="font-Rubik text-xs text-justify list-disc pl-4 ml-4">
			<li>لا يتم تعديل أي وثائق أو رسومات ذات صلة على الموقع بأي شكل من الأشكال؛</li>
			<li>لا يتم استخدام رسومات على الموقع بشكل منفصل عن النص المقابل؛ و </li>
			<li>تحافظ على جميع إخطارات حقوق النشر والملكية كما هي.</li>
		</ol>
		<p class="font-Rubik text-xs text-justify mt-1">
			لتجنب الشك، لا يجوز لك استخدام أي جزء من المواد و / أو المحتوى على موقع الويب لأغراض تجارية دون الحصول على ترخيص للقيام بذلك من الشركة أو مرخصي الشركة.
		</p>
		<p class="font-Rubik text-xs text-justify mt-1">
			2.3 إذا قمت بطباعة أو نسخ أو تنزيل أي جزء من الموقع ينتهك هذه الشروط، فسيتوقف حقك في استخدام الموقع على الفور ويجب عليك، بناءً على اختيار الشركة، إعادة أو إتلاف أي نسخ من المواد التي قمت بإنشائها.
		</p>
		<p class="font-Rubik text-xs text-justify mt-1">
			2.4 أي تنزيل، أو إعادة إرسال، أو نسخ، أو تعديل غير مصرح به لأي من محتويات الموقع قد يكون خرقًا للحقوق القانونية أو العامة التي يمكن أن تكون موضوع إجراء قانوني.
		</p>
		<p class="font-Rubik text-xs text-justify mt-1">
			2.5 يحظر أي استخدام لمقتطفات من الموقع لأي غرض، بخلاف ما ورد في الفقرة 2.1.
		</p>
		<p class="font-Rubik text-xs text-justify mt-1">
			2.6 وفقًا للبند 2.1، لا يجوز إعادة إنتاج أي جزء من الموقع أو تخزينه في أي موقع ويب آخر أو تضمينه في أي نظام أو خدمة استرداد إلكترونية عامة أو خاصة دون الحصول على إذن كتابي مسبق من الشركة.
		</p>
		<p class="font-Rubik text-xs text-justify mt-1">
			2.7 أي حقوق غير ممنوحة صراحةً في الشروط محفوظة.
		</p>
	</div>
	<div class="w-[90%] mx-auto xl:w-[90%]">
		<h1 class="uppercase font-Rubik text-xl font-medium pt-4 lg:pt-4">3. الوصول إلى الخدمة</h1>
	</div>
	<div class="w-[90%] mx-auto pb-0 xl:w-[90%]">
		<p class="font-Rubik text-xs text-justify mt-1">
			3.1 يُسمح بالوصول إلى موقع الويب على أساس مؤقت وتحتفظ الشركة بالحق في سحب أو تعديل الموقع دون إشعار. لن تكون الشركة مسؤولة إذا كان الموقع الإلكتروني غير متاح لأي سبب من الأسباب في أي وقت أو لأي فترة.
		</p>
		<p class="font-Rubik text-xs text-justify mt-1">
			3.2 أنت مسؤول عن اتخاذ جميع الترتيبات اللازمة لتتمكن من الوصول إلى الموقع. أنت أيضًا مسؤول مسؤولية كاملة عن التأكد من أن أي شخص لديه حق الوصول إلى موقع الويب من خلال اتصالك بالإنترنت على دراية بهذه الشروط، وأنه يمتثل لها.
		</p>
		<p class="font-Rubik text-xs text-justify mt-1">
			3.3 يجوز للشركة وفقًا لتقديرها الخاص ولأي سبب من الأسباب تقييد الوصول دون سابق إنذار إلى بعض أجزاء من الموقع أو إلى الموقع بأكمله، بما في ذلك على سبيل المثال لا الحصر كمستخدمين مسجلين لدى الشركة.
		</p>
		<p class="font-Rubik text-xs text-justify mt-1">
			3.4 يتم توفير المعلومات الموجودة على موقع الويب للحصول على معلومات بحتة ولا تشكل أو تشكل جزءًا من أي عرض أو دعوة (بما في ذلك على سبيل المثال لا الحصر عرض البيع أو التأجير أو الإصدار). تخضع جميع العقارات والمنتجات والخدمات للتوافر ولا تقدم الشركة أي ضمان في هذا الصدد.
		</p>
	</div>
	<div class="w-[90%] mx-auto xl:w-[90%]">
		<h1 class="uppercase font-Rubik text-xl font-medium pt-4 lg:pt-4">4. مواد وسلوك الزائر</h1>
	</div>
	<div class="w-[90%] mx-auto pb-0 xl:w-[90%]">
		<p class="font-Rubik text-xs text-justify mt-1">
			4.1 بخلاف معلومات التعريف الشخصية التي تغطيها سياسة خصوصية الشركة المنصوص عليها في الفقرة 5 أدناه، أي أفكار، أو اقتراحات، أو تعليقات، أو مراجعات، أو مفاهيم، أو معرفة، أو معلومات، أو تقنيات، أو نصوص، سأو صور أو أصوات أو رسومات أو غيرها المحتوى ("المواد") التي تنقلها أو تنشرها على موقع الويب تعتبر غير سرية وغير مملوكة. لا تتحمل الشركة أي التزامات فيما يتعلق بهذه المواد.
		</p>
		<p class="font-Rubik text-xs text-justify mt-1">
			4.2 من خلال تقديم المواد إلى الشركة عبر الموقع الإلكتروني ، فإنك تمنح الشركة والشركات التابعة لها والشركات الأم وجميع الشركات الأخرى في مجموعة الشركات التي تمتلك تشكل الشركة جزءًا من ترخيص غير مقيد وعالمي وخالي من حقوق الملكية وغير قابل للإلغاء لاستخدام المواد وفقًا لتقدير الشركة الخاص لأي غرض ، بما في ذلك ، على سبيل المثال لا الحصر ، الاستخدام وإعادة الإنتاج والعرض والتكيف والتعديل والإرسال والإفصاح والتوزيع إلى الغير تستغل الأطراف المواد تجاريًا في أي وسيط مع حق غير مقيد لاستخدام أي أفكار أو مفاهيم أو معرفة أو تقنيات واردة في المواد لأي غرض من الأغراض. أنت أيضًا، باستثناء ما يسمح به القانون، تتنازل عن أي حقوق أخلاقية في ذلك.
		</p>
		<p class="font-Rubik text-xs text-justify mt-1">
			4.3 تحتفظ الشركة بالحق في مراقبة وفحص وإزالة (بدون مسؤولية تجاهك) أي مواد أو منشورات تقوم بها على الموقع، إذا كانت هذه المواد، في رأي الشركة المطلق، لا تتوافق مع معايير المحتوى المنصوص عليها في سياسة الاستخدام المقبول أو تنتهك هذه الشروط. يحق للشركة أيضًا الكشف عن هويتك لأي طرف ثالث يدعي أن أي مواد تنشرها أو تحمّلها على الموقع الإلكتروني تعد انتهاكًا لحقوق الملكية الفكرية الخاصة بهم أو حقهم في الخصوصية.
		</p>
		<p class="font-Rubik text-xs text-justify mt-1">
			4.4 لن تكون الشركة مسؤولة أو مسؤولة أمام أي طرف ثالث عن محتوى أو دقة أي مواد تنشرها أنت أو أي مستخدم آخر للموقع.
		</p>
		<p class="font-Rubik text-xs text-justify mt-1">
			4.5 أنت تتعهد وتوافق على أنه عند استخدامك للموقع (أو أي جزء منه) لن تقوم بما يلي:
		</p>
		<ol class="font-Rubik text-xs text-justify list-disc pl-4 ml-4">
			<li>
				استخدام الموقع بأي طريقة قد تؤدي إلى التشجيع أو الشراء أو تنفيذ أي نشاط إجرامي أو غير قانوني؛
			</li>
			<li>
				نقل الملفات إلى أو من خلال موقع الويب التي تحتوي على فيروسات، أو تهديدات سيبرالية أو أي شيء آخر ضار أو ضار تقنيًا أو قد يتداخل مع أو يعوق أو يعطل التشغيل العادي للموقع؛
			</li>
			<li>
				إدخال، أو نقل مواد تشهيرية، أو تشهيرية، أو فاحشة أو من شأنها التحريض على الكراهية العنصرية، أو الهجوم، أو التهديد، أو التمييز، أو التهديد، أو التجديف من خلال موقع الويب أو المواد التي قد تسبب إزعاجًا أو إزعاجًا أو قلقًا لا داعي له؛
			</li>
			<li>
				استخدام موقع الويب بطريقة تؤدي إلى مقاطعته، أو إتلافه، أو جعله أقل كفاءة، أو بطريقة تؤدي إلى إضعاف فعالية أو وظائف الموقع.
			</li>
			<li>
				استخدام موقع الويب بطريقة تنتهك حقوق شخص آخر أو شركة أو شركة (بما في ذلك، على سبيل المثال لا الحصر، حقوق الملكية الفكرية أو حقوق السرية أو حقوق الخصوصية).
			</li>
			<li>
				نشر أو نقل من أو إلى موقع الويب أي مادة لم تحصل على جميع التراخيص و / أو الموافقات اللازمة لها؛
			</li>
			<li>
				فعل أي شيء من شأنه تجاوز أو التدخل في أي ميزات أمان للموقع، أو التدخل في أي من مواقع الشركة أو الخوادم أو الشبكات.
			</li>
			<li>
				محاولة الوصول غير المصرح به إلى أي جزء أو مكون من الموقع، أو الخادم الذي تم تخزين الموقع عليه أو أي خادم أو حاسوب أو قاعدة بيانات متصلة بالموقع؛
			</li>
			<li>تحميل الملفات التي تحتوي على ارتباط نص تشعبي نشط إلى موقع ويب آخر.</li>
			<li>
				انتحال شخصية أي شخص أو كيان، بما في ذلك على سبيل المثال لا الحصر، أي من موظفي الشركة، أو شركائها، أو مديريها أو مديريها أو تقديم معلومات مضللة أو بيان زائف انتسابك إلى أي شخص أو كيان
			</li>
			<li>
				عرض بيع أو الإعلان عن أو الترويج أو طلب أي سلع أو خدمات لأي غرض تجاري، أو الانخراط في أي نشاط تجاري؛ أو
			</li>
			<li>
				فعل أي شيء قد يشكل أو يشجع على سلوك يمكن اعتباره جريمة جنائية أو يؤدي إلى مسؤولية مدنية أو يتعارض مع قانون أي طرف ثالث أو ينتهك حقوقه في أي بلد في العالم.
			</li>
		</ol>
		<p class="font-Rubik text-xs text-justify mt-1">
			4.6 لا يجوز لك إساءة استخدام الموقع (بما في ذلك، على سبيل المثال لا الحصر، عن طريق القرصنة).
		</p>
		<p class="font-Rubik text-xs text-justify mt-1">
			4.7 يجوز للشركة أن تتعاون بشكل كامل مع أي سلطات إنفاذ قانون أو أمر محكمة يطلب من الشركة أو يوجهها بالكشف عن الهوية أو تحديد موقع أي شخص ينشر أي مادة تنتهك الشروط أو بطريقة أخرى لمنع أو الكشف عن جريمة أو اعتقال أو مقاضاة من الجناة. قد تكون هناك ظروف أخرى قد يُطلب فيها من الشركة بموجب القانون الكشف عن معلومات عنك أو عن استخدامك للموقع
		</p>
		<p class="font-Rubik text-xs text-justify mt-1">
			4.8 في حالة وجود مطالبة ضد مستخدم آخر للموقع ناشئة عن استخدام هذا المستخدم للموقع، فإنك توافق على متابعة هذا الحق أو المطالبة أو الإجراء بشكل مستقل عننا ودون الرجوع إلينا.
		</p>
	</div>
	<div class="w-[90%] mx-auto xl:w-[90%]">
		<h1 class="uppercase font-Rubik text-xl font-medium pt-4 lg:pt-4">5. سياسة الخصوصية</h1>
	</div>
	<div class="w-[90%] mx-auto pb-0 xl:w-[90%]">
		<p class="font-Rubik text-xs text-justify mt-1">
			5.1 أنت تقر وتوافق على أن خادم الويب الخاص بالشركة يجمع عنوان IP الخاص بك تلقائيًا عند زيارة موقع الويب وأن الشركة قد تستخدم عنوان IP الخاص بك للمساعدة في تشخيص المشكلات مع خادم الشركة وتجميع الإحصائيات حول استخدام موقع الويب.
		</p>
		<p class="font-Rubik text-xs text-justify mt-1">
			5.2 ستتعامل الشركة مع معلوماتك الشخصية على أنها سرية ولن تفصح عنها إلا للأغراض التالية:
		</p>
		<ol class="font-Rubik text-xs text-justify list-disc pl-4 ml-4">
			<li>
				إذا كانت الشركة تعتقد أنه من الضروري الامتثال لمتطلبات وكالات إنفاذ القانون في دولة الإمارات العربية المتحدة؛
			</li>
			<li>أوامر المعالجة (إن وجدت)؛</li>
			<li>
				عند تقديم المعلومات الشخصية للشركة لهذا الغرض، وتقييم تلك المعلومات الشخصية المقدمة مقابل فرص العمل الحالية أو المستقبلية داخل الشركة أو أي من الشركات التابعة لها؛
			</li>
			<li>لإدارة هذا الموقع.</li>
			<li>للأغراض الإحصائية لتحسين هذا الموقع وخدماته لك؛</li>
			<li>لإخطارك بالمنتجات أو العروض الخاصة أو المسابقات التي قد تهمك؛ أو</li>
			<li>
				الكشف إلى الشركات التابعة والأطراف الثالثة الأخرى ذات الصلة، الذين قد يتصلون بك بشأن منتجاتهم أو خدماتهم التي قد تهمك.
			</li>
		</ol>
	</div>
	<div class="w-[90%] mx-auto xl:w-[90%]">
		<h1 class="uppercase font-Rubik text-xl font-medium pt-4 lg:pt-4">6. روابط الطرف الثالث</h1>
	</div>
	<div class="w-[90%] mx-auto pb-0 xl:w-[90%]">
		<p class="font-Rubik text-xs text-justify mt-1">
			6.1 يتم توفير روابط لمواقع الطرف الثالث على الموقع فقط من أجل راحتك. إذا كنت تستخدم هذه الروابط، فإنك تغادر الموقع. لم تقم الشركة بمراجعة جميع مواقع الطرف الثالث هذه. لا تتحكم الشركة ولا تتحمل مسؤولية مواقع الأطراف الثالثة هذه أو محتواها أو توفرها. لذلك لا تصادق الشركة أو تقدم أي تعهدات حول أي من مواقع الطرف الثالث، أو أي مادة موجودة هناك، أو أي نتائج يمكن الحصول عليها من استخدامها. إذا قررت الوصول إلى أي من مواقع الطرف الثالث المرتبطة بالموقع، فأنت تقوم بذلك على مسؤوليتك الخاصة.
		</p>
		<p class="font-Rubik text-xs text-justify mt-1">
			6.2 إذا كنت ترغب في الارتباط بموقع الويب، فلا يجوز لك القيام بذلك إلا على أساس ارتباطك بالصفحة الرئيسية لموقع الويب، ولكن لا تنسخها، ويخضع ذلك للشروط التالية:
		</p>
		<ol class="font-Rubik text-xs text-justify list-disc pl-4 ml-4">
			<li>
				عدم إزالة، أو تشويه، أو تغيير حجم، أو مظهر أي من شعارات أي من شعارات المجموعة (بما في ذلك على سبيل المثال لا الحصر شعار دبي للعقارات؛
			</li>
			<li>لا تنشئ إطارًا أو أي متصفح آخر أو بيئة حدودية أخرى حول الموقع.</li>
			<li>
				أنت لا تشير بأي حال من الأحوال إلى أن الشركة تؤيد أي منتجات أو خدمات بخلاف منتجاتها أو خدماتها.
			</li>
			<li>
				عدم تحريف علاقتك بالشركة أو تقديم أي معلومات كاذبة أخرى عن الشركة.
			</li>
			<li>
				لا تستخدم أيًا من العلامات التجارية المعروضة على الموقع الإلكتروني بدون إذن كتابي صريح من الشركة.
			</li>
			<li>أنت لا تربط من موقع لا تملكه.</li>
			<li>
				لا يحتوي موقع الويب الخاص بك على محتوى بغيض أو مسيء أو مثير للجدل أو ينتهك أي حقوق ملكية فكرية أو حقوق لأي شخص آخر أو لا يمتثل بخلاف ذلك لجميع القوانين واللوائح المعمول بها.
			</li>
		</ol>
		<p class="font-Rubik text-xs text-justify mt-1">
			6.3 تحتفظ الشركة صراحة بالحق في إلغاء الحق الممنوح في البند 6.2 لخرق هذه الشروط واتخاذ أي إجراء تراه مناسبًا.
		</p>
		<p class="font-Rubik text-xs text-justify mt-1">
			6.4  يجب عليك تعويض الشركة بالكامل عن أي خسارة أو ضرر من أي نوع تتكبده المجموعة نتيجة لخرق البند 6.2.
		</p>
	</div>
	<div class="w-[90%] mx-auto xl:w-[90%]">
		<h1 class="uppercase font-Rubik text-xl font-medium pt-4 lg:pt-4">7. تنصل</h1>
	</div>
	<div class="w-[90%] mx-auto pb-0 xl:w-[90%]">
		<p class="font-Rubik text-xs text-justify mt-1">
			7.1 بينما تسعى الشركة لضمان صحة المعلومات الموجودة على الموقع ، فإن الشركة
			لا تضمن ولا تمثل دقة أو تحقق أو اكتمال أي من المواد الموجودة على
			موقع إلكتروني. يجوز للشركة إجراء تغييرات على المواد الموجودة على الموقع الإلكتروني ، أو على أي من الخصائص ،
			المنتجات والأسعار الموضحة فيه ، في أي وقت دون إشعار. قد تكون المواد الموجودة على موقع الويب خارج
			من التاريخ ولا تلتزم الشركة بتحديث هذه المواد. الشركة لا تقبل أي
			المسؤولية عن أي أخطاء أو سهو فيما يتعلق بهذه المواد. إذا كان لديك أي شك بخصوص
			صحة هذه المواد ، يرجى الاتصال بالشركة.
		</p>
		<p class="font-Rubik text-xs text-justify mt-1">
			7.2 يتم توفير المواد الموجودة على الموقع "كما هي" ، بدون أي تعهدات أو شروط أو ضمانات
			أو شروط أخرى من أي نوع. مع عدم الإخلال بعموم ما سبق ، لا تقدم الشركة أي شيء
			التمثيل أو الضمان فيما يتعلق بالعملة أو كفايتها أو ملاءمتها ، ولن تتحمل أي مسؤولية
			لدقة أو اكتمال المعلومات الواردة في هذا الموقع أو لأي اعتماد
			من قبل أي شخص على المعلومات. إلى أقصى حد يسمح به القانون ، توفر لك الشركة
			الموقع على أساس أن الشركة تستبعد جميع الإقرارات والضمانات والشروط وغيرها
			الشروط (بما في ذلك ، على سبيل المثال لا الحصر ، الشروط التي تنص عليها قوانين دولة الإمارات العربية المتحدة و
			إمارة دبي) والتي ، لولا هذه الشروط ، قد يكون لها تأثير فيما يتعلق بالموقع الإلكتروني.
		</p>
		<p class="font-Rubik text-xs text-justify mt-1">
			7.3 تتنصل الشركة من جميع المسؤوليات والمسؤوليات الناشئة عن أي اعتماد على
			المواد الموجودة على هذا الموقع من قبلك أو من قبل أي زائر للموقع ، أو من قبل أي شخص قد يكون على علم بأي منها
			من محتوياته. أي قرارات أو إجراء تتخذه على أساس المعلومات المقدمة في أو عبر
			يخضع موقع الويب لتقديرك وحدك وعلى مسؤوليتك ويجب عليك الحصول على مشورة مهنية عند الضرورة.
		</p>
		<p class="font-Rubik text-xs text-justify mt-1">
			7.4 بينما نسعى لضمان صحة المعلومات الواردة في هذا الموقع ، فإن الشركة لا تفعل ذلك أيضًا
			تضمن ولا تمثل دقة أو تحقق أو اكتمال أي من هذه المواد. قد نجعل
			تغييرات على المواد الموجودة على هذا الموقع ، أو على أي من الخصائص أو المنتجات الموضحة فيه ، في أي مكان
			الوقت دون إشعار. يرجى ملاحظة أن أي مادة إعلانية أو ترويجية هي للدلالة فقط. ال
			قد تكون المواد قديمة ولا تلتزم الشركة بتحديث هذه المواد. نحن لا نقبل
			أي مسؤولية عن أي أخطاء أو سهو فيما يتعلق بهذه المواد. دون المساس ب
			عمومية ما سبق ، لا تقدم الشركة أي تعهد أو ضمان فيما يتعلق بالعملة ،
			كفاية أو ملاءمة ، ولن نتحمل أي مسؤولية عن دقة أو اكتمال
			المعلومات الواردة في هذا الموقع أو لأي اعتماد يضعه أي شخص على المعلومات. ال
			تتنصل الشركة من جميع المسؤوليات والمسؤوليات الناشئة عن أي اعتماد على المواد الموجودة في
			هذا الموقع أو على أي قرارات أو إجراءات تتخذ على أساس المعلومات ، من قبلك أو من قبل أي
			الزائر ، أو من قبل أي شخص قد يكون على علم بمحتوى الموقع.
		</p>
	</div>
	<div class="w-[90%] mx-auto xl:w-[90%]">
		<h1 class="uppercase font-Rubik text-xl font-medium pt-4 lg:pt-4">8. التعويض والمسؤولية</h1>
	</div>
	<div class="w-[90%] mx-auto pb-0 xl:w-[90%]">
		<p class="font-Rubik text-xs text-justify mt-1">
			8.1 أنت توافق على تعويض الشركة وأي طرف آخر (سواء كان مشاركًا في إنشاء الموقع الإلكتروني أو إنتاجه أو صيانته أو تسليمه من عدمه) ، وأي شركة في المجموعة التي تشكل الشركة جزءًا منها ، وأسلافها ، وخلفائها والشركات التابعة لها ، الحاضر والمالكين السابقين والشركاء والمساهمين والمديرين والمسؤولين والموظفين والوكلاء وممثلي أي مما سبق ذكره وخلفائهم والمتنازل لهم (يشار إليهم جميعًا باسم "المجموعة") ضد جميع المطالبات والمسؤولية والأضرار والخسائر والتكاليف والمصروفات ، (بما في ذلك الرسوم القانونية) ، التي تتحملها المجموعة والناشئة عن أي خرق للشروط من جانبك (بما في ذلك ما يتعلق بأي مواد تقدمها أنت) أو أي التزامات أخرى ناشئة عن استخدامك للموقع الإلكتروني أو استخدام أي شخص آخر شخص يدخل إلى الموقع باستخدام حساب الإنترنت الخاص بك.
		</p>
		<p class="font-Rubik text-xs text-justify mt-1">
			8.2 تستبعد المجموعة جميع الالتزامات والمسؤوليات عن أي مبلغ أو نوع من الخسارة أو الضرر الذي قد ينتج عنك أو لطرف ثالث (بما في ذلك على سبيل المثال لا الحصر ، أي خسارة أو أضرار مباشرة أو غير مباشرة أو عقابية أو تبعية ، أو أي خسارة في الدخل ، الأرباح أو الشهرة أو البيانات أو العقود أو استخدام الأموال أو الخسارة أو الأضرار الناشئة عن أو المرتبطة بأي شكل من الأشكال بانقطاع الأعمال ، وسواء كان الضرر (بما في ذلك على سبيل المثال لا الحصر الإهمال) أو العقد أو غير ذلك ، فيما يتعلق بالموقع بأي شكل من الأشكال أو فيما يتعلق باستخدام موقع الويب أو عدم القدرة على استخدامه أو نتائج استخدامه ، أو أي مواقع ويب مرتبطة بالموقع أو المواد الموجودة على هذه المواقع ، بما في ذلك على سبيل المثال لا الحصر الخسارة أو التلف الناتج عن الفيروسات التي قد تصيب أجهزة الكمبيوتر الخاصة بك ، البرامج أو البيانات أو الممتلكات الأخرى على حساب وصولك إلى موقع الويب أو استخدامه أو تصفحه أو تنزيلك لأي مادة من موقع الويب أو أي مواقع ويب مرتبطة بالموقع.
		</p>
		<p class="font-Rubik text-xs text-justify mt-1">
			8.3 إذا أدى استخدامك للمواد الموجودة على موقع الويب إلى الحاجة إلى خدمة، أو إصلاح، أو تصحيح المعدات، أو البرامج، أو البيانات، فإنك تتحمل جميع تكاليف ذلك.
		</p>
	</div>
	<div class="w-[90%] mx-auto xl:w-[90%]">
		<h1 class="uppercase font-Rubik text-xl font-medium pt-4 lg:pt-4">9. القانون الحاكم والاختصاص القضائي</h1>
	</div>
	<div class="w-[90%] mx-auto pb-0 xl:w-[90%]">
		<p class="font-Rubik text-xs text-justify mt-1">
			9.1 تخضع هذه الشروط وتُفسر وفقًا لقوانين دولة الإمارات العربية المتحدة وإمارة دبي. تخضع النزاعات الناشئة فيما يتعلق بهذه الشروط للاختصاص القضائي الحصري لمحاكم إمارة دبي.
		</p>
		<p class="font-Rubik text-xs text-justify mt-1">
			9.2 إذا كان يجب تحديد أي من الشروط على أنه غير قانوني أو غير صالح أو غير قابل للتنفيذ بأي شكل من الأشكال، فبقدر ما تكون هذه الشروط، أو الشروط غير قانونية أو غير صالحة أو غير قابلة للتنفيذ، سيتم حذف هذه الشروط أو الشروط وفصلها عن بقية الشروط، القوة والتأثير الكامل وستظل ملزمة وقابلة للتنفيذ.
		</p>
	</div>
</section>
	}
	<!-- terms and condition Section End -->
</div>
<!--Body Content End-->
<!--Write js Here-->
@section IndexScript {

}
